section.sec2
	.container
		h2 Solution designed for your sales needs
		.sec2__blocks
			.sec2__block.sec2__block1
				.sec2__block-icon
				.sec2__block-content
					.sec2__block-title Predicability
					.sec2__block-txt Through qualified appointment setting, Target Persona acquisition, and lead qualification, scoring, and nurturing, we generate leads that drive your growth, and fill the pipeline with the quality prospects to increase profits and expand your businesses.
			.sec2__block.sec2__block2
				.sec2__block-icon
				.sec2__block-content
					.sec2__block-title Flexible campaigns
					.sec2__block-txt We have passion about building specific campaigns to hit your ideal prospect with a cutting-edge approach to targeting, red-flags evaluation, and collecting a stack of data needed to close every particular opportunity.
			.sec2__block.sec2__block3
				.sec2__block-icon
				.sec2__block-content
					.sec2__block-title 360° Approach
					.sec2__block-txt We ensure the success of your outbound campaign by analyzing your product, how it helps your customers and Target industry insights, building right messaging that will hit right decision makers at a right time. Full transparency, custom KPI’s and weekly team calls. Everything to ensure you’re on a right track.
			.sec2__block.sec2__block4
				.sec2__block-icon
				.sec2__block-content
					.sec2__block-title Revenue growth
					.sec2__block-txt Understanding that average Sales Person spends more than 40% of a work day on prospecting instead of creating opportunities and closing deals we designed a solution that will let your rockstars do what they love to do in the most efficient way by letting our team to manage top-of funnel time consuming tasks.
		a.btn.popup-link(onclick="showPopup('#popup-icp');") IM INTERESTED