section.sec6
	.container
		.sec6__pic
			.sec6__map
				iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9604047881576!2d-73.98642904491795!3d40.74089677038087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a736f00b71%3A0x9ef8af8b18f7fdd9!2zMTE0IEUgMjV0aCBTdCwgTmV3IFlvcmssIE5ZIDEwMDEwLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1550479821138" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen="")
		.sec6__txt-block
			p.sec6__txt1 Our contacts:
			p.sec6__txt2 If u have some questions or need support, send us an email or get a call
			.sec6__contact-wrap
				.sec6__contacts
					.sec6__contact
						p.sec6__contact-title Phone:
						a.sec6__contact-info(href="tel:9174738612") (917)-473-8612
					.sec6__contact
						p.sec6__contact-title Email:
						a.sec6__contact-info(href="mailto:info@upsail.io") info@upsail.io
					.sec6__contact.click
						p.sec6__contact-title Location:
						p.sec6__contact-info <span>Upsail HQ</span> - 114 East 25th Street, New York, NY 10010
				//.sec6__contacts
				//	.sec6__contact
				//		p.sec6__contact-title Phone:
				//		a.sec6__contact-info(href="tel:9174738612") (917)-473-8612
				//	.sec6__contact
				//		p.sec6__contact-title Email:
				//		a.sec6__contact-info(href="mailto:info@upsail.io") info@upsail.io
				//	.sec6__contact.click
				//		p.sec6__contact-title Location:
				//		p.sec6__contact-info <span>Upsail HQ</span> - 114 East 25th Street, New York, NY 10010