section.sec5
	.sec5__top-block
		.container
			.sec5__top-block__col.sec5__top-block__col1
				.sec5__top-icon
				p.sec5__top-title 3,500,000+
				p.sec5__top-txt B2B Leads generated
			.sec5__top-block__col.sec5__top-block__col2
				.sec5__top-icon
				p.sec5__top-title 260+
				p.sec5__top-txt Outbound campaigns run
			.sec5__top-block__col.sec5__top-block__col3
				.sec5__top-icon
				p.sec5__top-title 4,225+
				p.sec5__top-txt Appointments sheduled
			.sec5__top-block__col.sec5__top-block__col4
				.sec5__top-icon
				p.sec5__top-title 17,825,000+
				p.sec5__top-txt Value of opportunities created
	.sec5__bot-block
		.container
			h4 Get started today! It will only take a minute!
			p.sec5__bot-txt1 Here we need more description information about 30 hand-crafted leads, based on Ideal Customer Profile. It can be example of how it works or ETC. Dedicated SDR will take care of your outbound campaign from the very beginning: creating email templates, A/B Testing, sales conversations, appointment setting, qualification calls and many more to fill sales funnel. 
			a.btn.popup-link(onclick="showPopup('#popup-icp');") REQUEST DEMO