section.sec4
	.container
		.sec4__txt-block
			.sec4__top-block
				h3 Behind the Scenes
				p.top-block__txt What actually makes companies successful?<br> Their team. Their awesome product. And powerful sales process.<br>Here’s what we do:
			.sec4__bot-block
				.bot-block.bot-block1 
					p.bot-block__title B2B Lead generation
					p.bot-block__txt Our Lead Research Experts perform prospecting and identify opportunities. Human touch combined with technology stack brings 90%+ prospects caught.
				.bot-block.bot-block2
					p.bot-block__title Database development
					p.bot-block__txt Imagine your existing database accelerating your growth. No irrelevant, old-hat data or bad emails. Your marketing team will be the happiest one in the world.
				.bot-block.bot-block3
					p.bot-block__title Outbound sales
					p.bot-block__txt Our SDR takes care of your campaign in a smart and professional way. Messaging, reporting, KPIs, performance rates and industry insights collected and measured to make outbound efforts most efficient way to get a new deal.
				.bot-block.bot-block4
					p.bot-block__title Appointment setting
					p.bot-block__txt Let Upsail bring your Ideal Customer into action!<br><br>Nowadays modern buyer needs a modern salesperson. Calendars, phone calls, schedules… Never miss another conversation because of old techniques!
		.sec4__icon