section.sec1
	.sec1__top-block
		.container
			.sec1__top-block__col.sec1__top-block__col1
				.sec1__top-icon
				p.sec1__top-title Step 1: B2B Leads
				p.sec1__top-txt Our Lead Generation Expert works closely with your Ideal Customer Profile and then starts to deliver hand-crafted leads with data points required on daily, weekly, bi-weekly or monthly basis. 
			.sec1__top-block__col.sec1__top-block__col2
				.sec1__top-icon
				p.sec1__top-title Step 2: Outbound Campaign
				p.sec1__top-txt Dedicated SDR will take care of your outbound campaign from the very beginning: creating email templates, A/B Testing, sales conversations, appointment setting, qualification calls and many more to fill sales funnel.
			.sec1__top-block__col.sec1__top-block__col3
				.sec1__top-icon
				p.sec1__top-title Step 3: Sales Optimization
				p.sec1__top-txt Get real-time analytics of Campaign Performance: Open Rates, Reply Rate, Bounces and messaging tests to help implement better startegies and drive success.<br>Never miss your number again!
	.sec1__bot-block
		.container
			h2 Get in touch & receive 30 hand-crafted leads based on your Ideal Customer Profile
			p.sec2__bot-txt1 Here we need more description information about 30 hand-crafted leads, based on Ideal Customer Profile. It can be example of how it works or ETC. Dedicated SDR will take care of your outbound campaign from the very beginning: creating email templates, A/B Testing, sales conversations, appointment setting, qualification calls and many more to fill sales funnel. 
			a.btn(href="/icp") GET STARTED NOW