section.sec3
	.container
		.sec3__icon
		.sec3__txt-block
			.sec3__top-block
				h3 The Secret of Success?
				p.top-block__txt We’re not advisors, and we hate the word “Outsourcing”. We’re doers, executors, operatives, disruptors, growth hackers…Call us anything you like, but we are your TEAM from now on.
			.sec3__bot-block
				.bot-block.bot-block1 
					p.bot-block__title Precision
					p.bot-block__txt Every piece of data we deliver to you is accurate, relevant and up to date.<br><br>Upsail Lead Prospecting team will turn this into reality.
				.bot-block.bot-block2
					p.bot-block__title Deliverability
					p.bot-block__txt Simply put 3% Bounce Rate.<br><br>If any message did not land to prospect’s inbox we will replace it the same day.
				.bot-block.bot-block3
					p.bot-block__title Transparency
					p.bot-block__txt Upsail acts as your early or extended team so you can be confident in which market segments, messaging, sales types, strategies, and tactics will succeed.
				.bot-block.bot-block4
					p.bot-block__title Cost optimization
					p.bot-block__txt Average SDR compensation is $40k (base). Cut this twice and get a team of dedicated professionals that will act for you daily.