section.sec9
		.container
			.top__pagination-wrap
				p.search-result Showed <span class="quantity-res">8</span> (of <span class="quantity-all">#{amount}</span>)
				.pagination-block
			.blog-wrap
				.blog-list-container#blog-list-container
					each post in posts
						.blog-block
							a.blog-title(href="/blog/#{post.blog_id}") #{post.title}
							.blog-info
								p.blog-author By <span class="author-name">#{post.author}</span>
								p.blog-date <span class="date-icon"></span>#{post.dateFormatted}
							if (post.picture)
								.blog-pic(style='background-image: url(#{post.picture});')
							if (post.description)
								p.blog-txt #{post.description}
							a.btn(href="/blog/#{post.blog_id}") READ MORE
							.separator

				a.btn.btn_transparent-2.blog-more SEE MORE


			.sidebar-wrap
				form#search-form(accept-charset="utf-8")
					input#search(type="text" name="search" placeholder="Search")
					a.search-btn
				.popular-posts
					p.popular-posts__title Popular posts <span>(top 4)</span>
					each popularPost in popularPosts
						.popular-post__block
							if (popularPost.picture)
								.pic-block.blog-pic(style='background-image: url(#{popularPost.picture}); width: 115px;')
							.txt-block
								a.post-title(href="/blog/#{popularPost.blog_id}") #{popularPost.title}
								a.link(href="/blog/#{popularPost.blog_id}") Read more
				.line
				.socials.socials__blog
					p.social-txt Find us at
					a.link(target="_blank" href="https://www.facebook.com/upsail.io/").fb
					a.link(target="_blank" href="https://www.linkedin.com/company/18397348").linked

		script(type='text/javascript', src="/js/handlebars.min.js")
		script(type='text/javascript').
			// unused
			Handlebars.registerHelper ('if_eq', function (a, b, opts) {
				if (a == b) {
					return opts.fn (this);
				} else {
					return opts.inverse (this);
				}
			});

		script#postSource(type="text/x-handlebars-template" style="display: none;").
			<div class="blog-block">
				<a href="/blog/{{blog_id}}" class="blog-title">{{title}}</a>
				<div class="blog-info">
					<p class="blog-author">By <span class="author-name">{{author}}</span></p>
					<p class="blog-date"><span class="date-icon"></span>{{dateFormatted}}</p>
				</div>
				{{#if picture includeZero=true}}
					<div style="background-image: url('{{picture}}');" class="blog-pic"></div>
				{{/if}}
				{{#if description includeZero=true}}
					<p class="blog-txt">{{description}}</p>
				{{/if}}
				<a href="/blog/{{blog_id}}" class="btn">READ MORE</a>
				<div class="separator"></div>
			</div>

		script(type='text/javascript').
			var $ = jQuery.noConflict ();

			function renderPosts (posts) {
				var source = $ ("#postSource").html ();
				var template = Handlebars.compile (source);
				for (var i = 0; i < posts.length; i++) {
					$ ('.blog-list-container').append (template (posts[i]));
				}
			}

			function clearPosts () {
				var parent = document.getElementById ('blog-list-container');
				while (parent.firstChild) {
					parent.removeChild (parent.firstChild);
				}
			}

			$ ('.blog-more').click (function () {
				var data = {
					items: parseInt (document.getElementsByClassName ('blog-block').length),
					text : document.getElementById ('search').value
				};

				$.get (window.location.origin + '/blog/see/more', data, function (resp) {
					if (resp.result) {
						if (resp.posts.length === 0) {
							$ ('.blog-more').hide ();
						} else {
							renderPosts (resp.posts);
							setCurrentAmountOfPosts ();
						}
					} else {
						setError ('Ошибка при поиске постов');
					}
				});
			});

			function setCurrentAmountOfPosts () {
				var amountCurrent = document.getElementsByClassName ('blog-block').length;
				$('.quantity-res').text(amountCurrent);
			}

			setCurrentAmountOfPosts();

			$ ("#search").on ('input', function (e) {
				var data = {
					text: document.getElementById ('search').value
				};

				$.get (window.location.origin + "/blog/search/posts", data, function (resp) {
					if (resp.result) {
						clearPosts ();
						renderPosts (resp.posts);
						setCurrentAmountOfPosts();
						$ ('.blog-more').hide ();
						if (document.getElementById ('search').value.length === 0) {
							$ ('.blog-more').show ();
						}
					} else {
						setError ('Ошибка при поиске постов');
					}
				});

			});