doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='title', content='UPSAIL.IO')
		meta(name='description', content='UPSAIL.IO')
		meta(property='og:title', content='UPSAIL.IO')
		meta(property='og:description', content='UPSAIL.IO')
		//meta(property='og:image', content='')
		//meta(property='og:url', content='')
		link(rel='icon', href='/img/logo-min.png')
		title UPSAIL.IO
		// Bootstrap Core CSS
		link(href='/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='/plugins/bower_components/datatables/jquery.dataTables.min.css', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/plugins/bower_components/html5-editor/bootstrap-wysihtml5.css')
		link(href='https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css', rel='stylesheet', type='text/css')
		// Menu CSS
		link(href='/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css', rel='stylesheet')
		link(rel='stylesheet', href='/plugins/bower_components/dropify/dist/css/dropify.min.css')
		// morris CSS
		link(href='/plugins/bower_components/morrisjs/morris.css', rel='stylesheet')
		link(href='/plugins/bower_components/jquery-wizard-master/css/wizard.css', rel='stylesheet')
		// Color picker plugins css
		link(href='/plugins/bower_components/jquery-asColorPicker-master/css/asColorPicker.css', rel='stylesheet')
		// animation CSS
		//link(href='/animate.min.css', rel='stylesheet')
		//link(href='/stylesheets/css/jquery.datetimepicker.css', rel='stylesheet')
		link(href='/jquery.datetimepicker.css', rel='stylesheet')
		// color CSS
		//link#theme(href='/color-default-dark.css', rel='stylesheet')
		// Date picker plugins css
		link(href='/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css', rel='stylesheet', type='text/css')
		// Daterange picker plugins css
		link(href='/plugins/bower_components/timepicker/bootstrap-timepicker.min.css', rel='stylesheet')
		link(href='/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet')
		// Custom CSS
		//link(href='/stylesheets/css/style-admin.css', rel='stylesheet')
		link(href='/style-admin.css', rel='stylesheet')
		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
	body
		block contents
