doctype html
html
  head
    block meta
      title UPSAIL.IO
      meta(name='title', content='UPSAIL.IO')
      meta(name='description', content="If sales opportunity doesn't knock, BUILD a door")
      meta(property='og:title', content='UPSAIL.IO')
      meta(property='og:description', content="If sales opportunity doesn't knock, BUILD a door")


    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=yes')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    link(rel='stylesheet' href='/index.css')
    script(src='/js/jquery-2.1.4.min.js' type='text/javascript')
    script(src='/js/jquery.cookie.js' type='text/javascript')
    script(src='/js/cssrelpreload.min.js' type='text/javascript')
  body
    .preloader
      .pre_circles
        .pre_circle1
        .pre_circle2

    div.page
      block contents
