section.sec9.sec91
		.container
			.blog-wrap
				.blog-block
					p.blog-title #{post.title}
					.blog-info
						p.blog-author By <span class="author-name">#{post.author}</span>
						p.blog-date <span class="date-icon"></span>#{post.dateFormatted}
					.line.simple
					p !{post.text}
					br
					.line
					.blog-buttons
						a.btn.btn_grey.btn_prev <span></span>PREVIOUS ARTICLE
						a.btn.btn_grey.btn_next NEXT ARTICLE<span></span>
				
			.sidebar-wrap
				.popular-posts
					p.popular-posts__title Popular posts <span>(top 4)</span>
					each popularPost in popularPosts
						.popular-post__block
							if (popularPost.picture)
								.pic-block.blog-pic(style='background-image: url(#{popularPost.picture}); width: 115px;')
							.txt-block
								a.post-title(href="/blog/#{popularPost.blog_id}") #{popularPost.title}
								a.link(href="/blog/#{popularPost.blog_id}") Read more
				.line
				.socials.socials__blog
					p.social-txt Find us at
					a.link(target="_blank" href="https://www.facebook.com/upsail.io/").fb
					a.link(target="_blank" href="https://www.linkedin.com/company/18397348").linked

	script(type='text/javascript').
		var $ = jQuery.noConflict ();

		$ ('.btn_next').click (function () {
			$.get (window.location.origin + "/blog/getPost" + "/after/" + '#{post.blog_id}', function (resp) {
				if (resp.result) {
					if (!resp.isLastItem) {
						$ (location).attr ('href', "/blog/" + resp.blog_id);
					} else {
						$ ('.btn_next').addClass ('btn--transparent-disabled');
						//setInfoMessage (resp.message);
					}
				} else {
					setError (resp.message);
				}
			});
		});

		$ ('.btn_prev').click (function () {
			$.get (window.location.origin + "/blog/getPost" + "/before/" + '#{post.blog_id}', function (resp) {
				if (resp.result) {
					if (!resp.isLastItem) {
						$ (location).attr ('href', "/blog/" + resp.blog_id);
					} else {
						$ ('.btn_prev').addClass ('btn--transparent-disabled');
						//setInfoMessage(resp.message);
					}
				} else {
					setError (resp.message);
				}
			});
		});