form.standart-form#upsail_form.upsail_form(accept-charset="utf-8" onsubmit="return validate(upsail_form);" action="/icpsubmit" method="post")
	.form__input-wrap
		p.input__title First name*
		input.first-name(name="firstName", type="text", placeholder="Frederick", required="")
	//.form__input-wrap
	//	p.input__title
	//	input(name="", type="text", required="")
	.form__input-wrap
		p.input__title Last name*
		input.last-name(name="lastName", type="text", placeholder="Anders", required="")
	.form__input-wrap
		p.input__title Company name*
		input.email(name="company", type="text", placeholder="Company Inc.", required="")
	.form__input-wrap
		p.input__title Your title*
		input.email(name="title", type="text", placeholder="Title example", required="")
	.form__input-wrap 
		p.input__title Your Email*
		input(name="email", type="email", required="" placeholder="email@mail.com")
	.form__input-wrap
		p.input__title Your Phone*
		input.phone#phone(name="phone", type="text", required="" placeholder="+199 (99) 999 99 99")
	.form__textarea-wrap
		p.input__title List of industries you're targeting*
		textarea(name="txtar1" form="upsail_form" placeholder="Feel free to provide several verticals")
	.form__checkbox-wrap.form__checkbox-wrap1
		p.input__title Target Company's Employee Size*
		.checkbox-block
			input#check1(type="checkbox" checked name="employee_size" value="0")
			label(for="check1") <span></span> Self-Employed
		.checkbox-block
			input#check2(type="checkbox" name="employee_size" value="1-10")
			label(for="check2") <span></span> 1 to 10
		.checkbox-block
			input#check3(type="checkbox" name="employee_size" value="11-50")
			label(for="check3") <span></span> 11 to 50
		.checkbox-block
			input#check4(type="checkbox" name="employee_size" value="51-200")
			label(for="check4") <span></span> 51 to 200
		.checkbox-block
			input#check5(type="checkbox" name="employee_size" value="201-500")
			label(for="check5") <span></span> 201 to 500
		.checkbox-block
			input#check6(type="checkbox" name="employee_size" value="501-1000")
			label(for="check6") <span></span> 501 to 1000
		.checkbox-block
			input#check7(type="checkbox" name="employee_size" value="1001-5000")
			label(for="check7") <span></span> 1001 to 5000
		.checkbox-block
			input#check8(type="checkbox" name="employee_size" value="5001-10000")
			label(for="check8") <span></span> 5001 to 10,000
		.checkbox-block
			input#check9(type="checkbox" name="employee_size" value="10000")
			label(for="check9") <span></span> 10,000+
	.form__checkbox-wrap.form__checkbox-wrap2
		p.input__title Target Company's Revenue*
		.checkbox-block
			input#check10(type="checkbox" name="company_revenue" value="0-1")
			label(for="check10") <span></span> 0 - 1$ Million
		.checkbox-block
			input#check11(type="checkbox" name="company_revenue" value="2-10")
			label(for="check11") <span></span> 2 - 10$ Million
		.checkbox-block
			input#check12(type="checkbox" name="company_revenue" value="11-50")
			label(for="check12") <span></span> 11 - 50$ Million
		.checkbox-block
			input#check13(type="checkbox" name="company_revenue" value="51-100")
			label(for="check13") <span></span> 51 - 100$ Million
		.checkbox-block
			input#check14(type="checkbox" name="company_revenue" value="101-250")
			label(for="check14") <span></span> 101 - 250$ Million
		.checkbox-block
			input#check15(type="checkbox" name="company_revenue" value="251-500")
			label(for="check15") <span></span> 251 - 500$ Million
		.checkbox-block
			input#check16(type="checkbox" name="company_revenue" value="501-1000")
			label(for="check16") <span></span> 501 Million to 1 Billion
		.checkbox-block
			input#check17(type="checkbox" name="company_revenue" value="1000")
			label(for="check17") <span></span> 1 Billion +
	.form__textarea-block
		.form__textarea-wrap
			p.input__title Target Customer Geo*
			textarea(name="txtar2" form="upsail_form" placeholder="Countries, States, Cities, ZIP Codes")
		.form__textarea-wrap
			p.input__title Which departments play a role in making or influencing the decision to buy your solutions?*
			textarea(name="txtar3" form="upsail_form" placeholder="Example department")
		.form__textarea-wrap
			p.input__title Which titles play a role in making or influencing the decision to buy your solutions?*
			textarea(name="txtar4" form="upsail_form" placeholder="Title example")
		.form__textarea-wrap
			p.input__title Could you share any specific fields of experience or day-to-day job duties your target prospect should have to make communication convenient from the very beginning?
			textarea(name="txtar5" form="upsail_form" placeholder="Countries, States, Cities, ZIP Codes")
		.form__textarea-wrap
			p.input__title Could you share some specific features that makes your potential customer really a PERFECT fit?
			textarea(name="txtar6" form="upsail_form" placeholder="Funding? Hiring? Fleet Size? We love to be challenged! Feel free to request ANY!")
		.form__textarea-wrap
			p.input__title What will automatically make company or prospect a bad fit?
			textarea(name="txtar7" form="upsail_form" placeholder="Our purpose is to deliver best leads possible, so be as detailed as possible.")
		.form__textarea-wrap
			p.input__title How long is your Sales Cycle?
			textarea(name="txtar8" form="upsail_form" placeholder="Month for example")
		.form__textarea-wrap
			p.input__title Any companies in your current pipeline you'd like to get leads engaged immediately?
			textarea(name="txtar9" form="upsail_form" placeholder="Seriously. We will make sure you'll get these folks on top of our test!")
	.form__textarea-wrap
		p.input__title Anything else we should know to help us find your next customer?
		textarea(name="txtar10" form="upsail_form" placeholder="Let us know anything that will help us deliver best quality leads!")
	.hidden-inputs
		input(type="hidden" name="package" value="")
		input(type="hidden" name="price" value="")
		input(type="hidden" name="type" value="")
		input(type="hidden" name="form" value="main_form")
	button.btn.subm(type="submit") SUBMIT PROFILE


include ../../partials/client/popups/popup-success


script(type='text/javascript').
	function getUrlParameterNew (sParam) {
		var sPageURL = decodeURIComponent (window.location.search.substring (1)),
			sURLVariables = sPageURL.split ('&'),
			sParameterName,
			i;

		for (i = 0; i < sURLVariables.length; i++) {
			sParameterName = sURLVariables[i].split ('=');

			if (sParameterName[0] === sParam) {
				return sParameterName[1] === undefined ? true : sParameterName[1];
			}
		}
	};

	//show popup
	if ('#{showSuccess}' === 'true') {
		showSuccessPopup();
	}

	$(function () {
		// url parameters from plan page
		var package = getUrlParameterNew('package');
		var price = getUrlParameterNew('price');
		var type = getUrlParameterNew('type');

		$('input[name=package]').val(package);
		$('input[name=price]').val(price);
		$('input[name=type]').val(type);
	});