@media (max-width: 1199px){
	.main__header .header__links {
		display: none;
	}
	
	.main__header .header__top-block {
		align-items: center;
	}
	
	.burger {
		display: block;
		width: 37px;
		height: 23px;
		background-image: url(../img/svg/burger.svg);
		transform: scale(-1, 1);
		background-size: 100%;
	}
	
	.header__top-block {
		justify-content: space-between;
	}
	
	.hh1 .mid-block__txt1, 
	.hh6 .mid-block__txt1 {
		font-size: 20px;
	}
	
	.hh6 .mid-block__txt2 {
		width: 382px;
	}
	
	.hh1 h1,
	.hh6 h1 {
		font-size: 32px;
	}
	
	.hh1 .mid-block__txt2, 
	.hh6 .mid-block__txt2 {
		margin-bottom: 24px;
	}
	
	.sec1 {
		background-image: none;
	}
	
	.sec1__top-block {
		background-color: #ECECEC;
		height: auto;
	}
	
	.sec1__top-block .container {
		flex-direction: column;
	}
	
	.sec1__bot-block {
		padding: 80px 0;
	}
	
	.sec1__bot-block h2 {
		font-size: 32px;
		margin-bottom: 32px;
	}
	
	.sec2 h2 {
		font-size: 32px;
		margin-bottom: 36px;
	}
	
	.sec2__blocks {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-bottom: 32px;
	}
	
	.sec2__blocks .sec2__block {
		justify-content: center;
		padding-left: 0;
	}
	
	.sec2__blocks .sec2__block3 {
		margin-bottom: 24px;
	}
	
	.sec2 {
		padding: 60px 0;
		background-size: 2620px;
	}
	
	.sec3 {
		padding: 67.5px 0;
		background-size: 2060px;
	}
	
	.sec3__icon {
		margin-right: 0;
		width: 211px;
		height: 231px;
		background-size: 100%;
	}
	
	.sec3 .container {
		flex-direction: column;
		padding-left: 15px;
	}
	
	.sec3__txt-block h3 {
		text-align: center;
		font-size: 32px;
		padding-top: 30px;
	}
	
	.sec4 .container {
		flex-direction: column;
		padding-left: 15px;
	}
	
	.sec4__icon {
		width: 211px;
		height: 211px;
		background-size: 100%;
		margin-left: 0;
		order: 1;
		margin-bottom: 30px;
	}
	
	.sec4 {
		padding: 67.5px 0;
		background-size: 2090px;
	}
	
	.sec4__txt-block {
		margin: 0;
		order: 2;
	}
	
	.top-block__txt {
		text-align: center;
	}
	
	.sec4__top-block h3 {
		text-align: center;
		font-size: 32px;
	}
	
	.sec5__top-block {
		height: auto;
	}
	
	.sec5__top-block .sec5__top-block__col {
		margin-bottom: 24px;
	}
	
	.sec5__top-block .container {
		flex-direction: column;
	}
	
	.sec5__bot-block {
		padding: 80px 0;
	}
	
	.sec5__bot-block h4 {
		width: auto;
		font-size: 32px;
	}
	
	.sec6 {
		padding: 80px 0;
		background-size: cover;
	}
	
	.sec6 .container {
		flex-direction: column;
	}
	
	.sec6__pic {
		margin-right: 0;
		width: 211px;
		height: 211px;
		margin-bottom: 30px;
	}
	
	.sec6__txt1 {
		text-align: center;
		font-size: 32px;
	}
	
	.sec6__txt2 {
		text-align: center;
	}
	
	.footer__links:nth-child(1) {
		margin: 0;
	}
	
	.sec6__contact:nth-child(3) {
		width: 300px;
	}
	
	.sec6__contacts {
		width: 50%;
	}
	
	.sec10 h2 {
		font-size: 32px;
	}
	
	.sec11 .sec11__content {
		flex-direction: column;
	}
	
	.sec11__content-left {
		padding: 0;
		order: 2;
		margin-right: 0;
	}
	
	.sec11__content-right {
		order: 1;
		width: 211px;
		background-size: 100%;
		height: 207px;
		margin-bottom: 50px;
	}
	
	.sec12,
	.sec14 {
		background-size: cover;
	}
	
	.hh2 h1,
	.sec7 h2,
	.sec12 h3,
	.sec13 h3,
	.sec14 h3,
	.sec15 h3,
	.sec16 h2,
	.sec17__title,
	.sec19 h3,
	.hh3 h1,
	.sec8 h2 {
		font-size: 32px;
	}
	
	.sec12__txt1 {
		margin-bottom: 20px;
	}
	
	.sec12__blocks-wrap {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	
	.sec12-block {
		margin-bottom: 20px;
	}
	
	.sec12-block:last-child {
		margin-bottom: 0;
	}
	
	.sec13 .container {
		padding: 0;
	}
	
	.sec14__circle {
		flex-wrap: wrap;
		width: 568px;
	}
	
	.circle__wrap:nth-child(1),
	.circle__wrap:nth-child(2) {
		margin-bottom: 40px;
	}
	
	.sec16__txt1 {
		margin-bottom: 24px;
	}
	
	.sec16__blocks {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	
	.sec16__block {
		margin-bottom: 20px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.sec17__left-part {
		min-width: 211px;
		height: 143px;
		background-size: 100%;
		margin-left: 70px;
	}
	
	.sec17__wrap {
		width: 100%;
	}
	
	.sec17__right-part {
		width: 346px;
	}
	
	.sec18__wrap {
		width: 100%;
		flex-direction: column;
	}
	
	.sec18__left-part {
		width: auto;
		margin-bottom: 32px;
	}
	
	.sec18__txt {
		font-size: 32px;
		width: 480px;
		margin: 0 auto;
	}
	
	.sec7__package-wrap {
		width: 100%;
		flex-wrap: wrap;
	}
	
	.sec7__package-wrap .package-block {
		margin: 0;
		
		&:nth-child(1),
		&:nth-child(3) {
			margin-right: 30px;
		}
		
		&:nth-child(1),
		&:nth-child(2) {
			margin-bottom: 30px;
		}
	}
	
	.sec7__switcher,
	.sec7 h2 {
		margin-bottom: 32px;
	}
	
	.sidebar-wrap {
		width: 100%;
		margin-left: 0;
	}
	
	.form__input-wrap {
		width: 350px;
	}
	
	#upsail_form {
		width: 100%;
	}
	
	.form__textarea-block .form__textarea-wrap {
		width: 100%;
	}
	
	.sec1__top-block .sec1__top-block__col {
		margin-bottom: 20px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.hh5 h1 .gold-txt {
		font-size: 18px;
	}
}

@media (max-width: 749px) {
	.header__top-block .header__logo {
		width: 90px !important;
		height: 37px !important;
	}
	
	.sec17__wrap {
		flex-direction: column;
	}
	
	.sec17 {
		background-size: 2430px;
	}
	
	.sec19 {
		background-size: cover;
	}
	
	.burger {
		width: 24px;
		height: 15px;
	}
	
	.hh1 .mid-block__txt1, 
	.hh6 .mid-block__txt1 {
		font-size: 16px;
	}
	
	.hh1 h1, 
	.hh6 h1,
	.sec2 h2,
	.sec3__txt-block h3,
	.sec4__top-block h3,
	.sec5__bot-block h4,
	.sec6__txt1,
	.sec10 h2,
	.hh2 h1,
	.sec7 h2,
	.sec12 h3,
	.sec13 h3,
	.sec14 h3,
	.sec15 h3,
	.sec16 h2,
	.sec17__title,
	.sec19 h3,
	.hh3 h1,
	.sec8 h2{
		font-size: 24px;
	}
	
	.sec12, .sec14 {
		background-size: cover;
	}
	
	.main__header .mid-block__buttons {
		width: auto;
	}
	
	.btn {
		width: 144px;
	}
	
	.sec1__bot-block h2 {
		font-size: 24px;
		width: auto;
	}
	
	.sec1__bot-block .sec2__bot-txt1 {
		width: auto;
	}
	
	.sec1__bot-block,
	.sec2,
	.sec3,
	.sec4,
	.sec5__bot-block,
	.sec6,
	.sec11,
	.sec12,
	.sec15,
	.sec17,
	.sec18,
	.sec19 {
		padding: 40px 0;
	}
	
	.sec2__blocks .sec2__block {
		width: 100%;
	}
	
	.sec2__blocks .sec2__block-txt {
		width: 200px;
	}
	
	.sec3,.sec4 {
		background-size: cover;
	}
	
	.sec6 {
		background-size: 2390px;
	}
	
	.sec3__txt-block,
	.sec4__txt-block {
		width: auto;
	}
	
	.sec3__bot-block,
	.sec4__bot-block {
		justify-content: center;
		text-align: center;
	}
	
	.sec3__bot-block .bot-block3,
	.sec4__bot-block .bot-block3 {
		margin-bottom: 20px;
	}
	
	.sec5__top-block .sec5__top-block__col4 {
		margin-bottom: 0;
	}
	
	.sec5__bot-block .sec5__bot-txt1 {
		width: auto;
	}
	
	.sec6__txt-block,
	.sec6__contacts {
		width: 100%;
	}
	
	.sec6__contacts {
		&:first-child {
			margin-bottom: 20px;
		}
	}
	
	.sec6__contact-wrap {
		flex-direction: column;
		align-items: center;
	}
	
	.footer {
		height: auto;
	}
	
	.footer__links {
		height: auto;
		width: 100%;
		text-align: center;
	}
	
	.footer__links:nth-child(1) {
		width: 100%;
	}
	
	.footer__links:nth-child(2) {
		margin-top: 8px;
		width: 100%;
		margin-right: 0;
	}
	
	.socials {
		margin: 16px auto 0;
	}
	
	.footer .container {
		flex-wrap: wrap;
	}
	
	.hh4 h1 {
		font-size: 32px;
		flex-direction: column;
	}
	
	.hh4 {
		height: 285px;
	}
	
	.hh5 h1 .arrow {
		display: none;
	}
	
	.blog-wrap {
		width: 100%;
	}
	
	.blog-title {
		font-size: 20px;
	}
	
	.blog-pic {
		width: 320px;
		height: 112px;
	}
	
	.blog-block .separator {
		width: 100%;
	}
	
	.hh5 h1 .gold-txt {
		text-align: center;
		margin-top: 5px;
	}
	
	.hh5 h1 .blue-txt {
		margin: 0;
	}
	
	.blog-wrap {
		padding: 0;
	}
	
	.hh6 .mid-block__txt2,
	.sec10__txt3,
	.sec12__txt1 {
		width: 100%;
	}
	
	.sec10__txt2 {
		font-size: 20px;
	}
	
	.sec11__content-left {
		width: 100%;
	}
	
	.sec12 h3 {
		text-align: center;
	}
	
	.sec13 .sec13__pic {
		width: 320px;
		height: 201px;
	}
	
	.sec14__circle {
		width: 100%;
		justify-content: center;
	}
	
	.circle__wrap {
		&:nth-child(3) {
			margin-bottom: 20px;
		}
	}
	
	.sec7__switcher {
		width: 100%;
	}
	
	.switcher__txt1 {
		margin-right: 19px;
		text-align: left;
		width: 126px;
	}
	
	.switcher__txt2 {
		margin-left: 16px;
		width: 127px;
		text-align: right;
	}
	
	.sec7__package-wrap .package-block:nth-child(1), 
	.sec7__package-wrap .package-block:nth-child(3) {
		margin-right: 0;
	}
	
	.sec7__package-wrap .package-block:nth-child(3) {
		margin-bottom: 30px;
	}
	
	.checkbox-block {
		margin-bottom: 12px;
	}
	
	.form__checkbox-wrap .input__title {
		margin-bottom: 10px;
	}
	
	.sec16__txt1 {
		width: 100%;
	}
	
	.sec17__title {
		text-align: center;
	}
	
	.sec17__ul li {
		padding-left: 15px;
	}
	
	.sec17__left-part {
		margin-left: 0;
		margin-bottom: 20px;
	}
	
	.sec18__txt {
		width: 100%;
		font-size: 24px;
	}
	
	.sec18__right-part {
		height: 285px;
		width: 320px;
	}
	
	.sec19__circles {
		width: 100%;
		flex-direction: column;
		align-items: center;
		
		.circle {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}