.sec8 {
	padding-top: 45px;
	padding-bottom: 56px;
	background: #E5E5E5;
	
	h2 {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 36px;
		text-align: center;
		margin-bottom: 22px;
		color: #11222D;
	}
	
	.btn {
		width: 100%;
	}
}

.upsail_form {
	width: 916px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.form__input-wrap {
	width: 292px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	
	input {
		padding: 12px 9px;
		font-family: Helvetica Neue;
		line-height: normal;
		font-size: 14px;
		background: #FFFFFF;
		border: 1px solid #DADADA;
		color: #11222D;
		width: 100%;
		font-weight: Bold;
		
		&:focus {
			border: 2px solid #CCAD67;
			box-shadow: 0px 4px 4px rgba(204, 173, 103, 0.2);
			outline: none;
			box-sizing: border-box;
			margin-bottom: -2px;
		}
	}
	
	
	
	
}

textarea {
		
	}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder {
	color: rgba(17, 34, 45, 0.2);
}

input:-moz-placeholder,  /* Firefox 18- */
textarea:-moz-placeholder { /* Firefox 18- */
	color: rgba(17, 34, 45, 0.2);  
}

input::-moz-placeholder,   /* Firefox 19+ */
textarea::-moz-placeholder {  /* Firefox 19+ */
	color: rgba(17, 34, 45, 0.2);  
}

input:-ms-input-placeholder, 
textarea:-ms-input-placeholder {
	color: rgba(17, 34, 45, 0.2);  
}

.input__title {
	font-family: Helvetica Neue;
	line-height: 18px;
	font-size: 16px;
	font-weight: 700;
	color: rgba(17, 34, 45, 0.6);
	margin-bottom: 7px;
}

.form__textarea-wrap {
	width: 100%;
	margin-bottom: 20px;
	
	textarea {
		width: 100%;
		height: 68px;
		resize: none;
		font-size: 14px;
		background: #FFFFFF;
		border: 1px solid #DADADA;
		padding: 9px 12px;
		outline: none !important;
		font-weight: bold;
		font-family: Helvetica Neue;
		
		&:focus {
			border: 2px solid #CCAD67;
			box-shadow: 0px 4px 4px rgba(204, 173, 103, 0.2);
			box-sizing: border-box;
		}
	}
}

.form__checkbox-wrap {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
	
	.input__title {
		width: 100%;
		
	}
}

.checkbox-block {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
	
	input {
		width: 0;
		height: 0;
		padding: 0;
		position: absolute;
		opacity: 0;

		&:checked {

			+ label {

				span {
					border: 1px solid #CCAD67;

					&::after {
						width: 8px;
						content: '';
						height: 6px;
						position: absolute;
						right: -3px;
						top: -1px;
						background-image: url(../img/svg/check.svg);
					}
				}
			}
		}
	}
	
	label {
		display: flex;
		align-items: center;
		font-family: Helvetica Neue;
		line-height: normal;
		font-size: 15px;
		font-weight: bold;
		color: rgba(17, 34, 45, 0.6);
		margin-right: 10px;
		cursor: pointer;
		
		span {
			width: 8px;
			height: 8px;
			position: relative;
			background: #FFFFFF;
			border: 1px solid #DADADA;
			box-sizing: border-box;
			margin-right: 4px;
		}
		
		&.active {
			
			span {
				border: 1px solid #CCAD67;
				
				&::after {
					width: 8px;
					content: '';
					height: 6px;
					position: absolute;
					right: -3px;
					top: -1px;
					background-image: url(../img/svg/check.svg);
				}
			}
		}
	}
	
}

.form__textarea-block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
	.form__textarea-wrap {
		width: 448px;
	}
}