.sec2 {
	@include bg-defaults(1920px);
	background-image: url(../img/sec2bg.png);
	padding: 98px 0;
	
	h2 {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 36px;
		text-align: center;
		margin-bottom: 52px;
		color: #11222D;
	}
	
	.btn {
		margin: 0 auto;
	}
}

.sec2__blocks {
	width: 916px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto 52px;
	
	.sec2__block {
		width: 446px;
		height: 160px;
		display: flex;
		align-items: center;
		background: #FFFFFF;
		border: 1px solid #CCAD67;
		box-sizing: border-box;
		padding-left: 24px;
		cursor: pointer;
		transition: 0.6s;
		&:hover {
			box-shadow: 0 0 0 rgba(0,0,0,0.02), 0 3px 9px rgba(0,0,0,0.22);

			.sec2__block-title {
				opacity: 0;
			}
			.sec2__block-txt {
				opacity: 1;
			}
		}
	}
	
	.sec2__block-icon {
		margin-right: 24px;
		margin-left: 24px;
	}

	.sec2__block-content {
		flex: 1;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding-right: 40px;
	}
	
	.sec2__block1 {
		margin-bottom: 24px;
		
		.sec2__block-icon {
			width: 63.39px;
			height: 80px;
			background-image: url(../img/svg/sec2ic1.svg);
		}
	}
	
	.sec2__block2 {
		margin-bottom: 24px;
		
		.sec2__block-icon {
			width: 64px;
			height: 64px;
			background-image: url(../img/svg/sec2ic2.svg);
		}
	}
	
	.sec2__block3 {
		.sec2__block-icon {
			width: 64px;
			height: 67.87px;
			background-image: url(../img/svg/sec2ic3.svg);
		}
	}
	
	.sec2__block4 {
		.sec2__block-icon {
			width: 64px;
			height: 64px;
			background-image: url(../img/svg/sec2ic4.svg);
		}
	}
	
	.sec2__block-txt {
		width: calc(100% - 40px);
		height: 100%;
		display: flex;
		align-items: center;
		font-family: Helvetica Neue;
		line-height: 15px;
		font-size: 14px;
		color: rgba(17, 34, 45, 0.6);
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transition: 0.3s;
	}
	
	.sec2__block-title {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 30px;
		transition: 0.3s;
		
		color: #11222D;
	}
}