.sec16 {
	background-color: #ECECEC;
	padding: 42px 0 52px;
	
	h2 {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 36px;
		text-align: center;
		margin-bottom: 20px;
		color: #11222D;
	}
}

.sec16__txt1 {
	font-family: Helvetica Neue;
	line-height: 15px;
	font-size: 14px;
	text-align: center;
	width: 540px;
	margin: 0 auto 32px;
	color: rgba(17, 34, 45, 0.6);
}

.sec16__blocks {
	width: 916px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.sec16__block {
	width: 292px;
	display: flex;
	padding: 33px 24px;
	flex-direction: column;
	background: #FFFFFF;
	border: 1px solid #CCAD67;
	
	&:nth-child(1) {
		
		.block-title {
			max-width: 87px;
		}
		
		.block-icon {
			min-width: 63px;
			height: 61.03px;
			margin-right: 25px;
			background-image: url(../img/svg/sec16ic1.svg);
		}
	}
	
	&:nth-child(2) {
		
		.block-title {
			max-width: 164px;
		}
		
		.block-icon {
			min-width: 63px;
			height: 63px;
			margin-right: 17px;
			background-image: url(../img/svg/sec16ic2.svg);
		}
	}
	
	&:nth-child(3) {
		.block-title {
			max-width: 95px;
		}
		
		.block-icon {
			min-width: 63px;
			height: 63px;
			margin-right: 18px;
			background-image: url(../img/svg/sec16ic3.svg);
		}
	}
	
	.block-title {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 19px;
		
		color: #11222D;
	}
}

.sec16__block__top-wrap {
	display: flex;
	align-items: center;
}

.sec16__block__txt {
	font-family: Helvetica Neue;
	line-height: 16px;
	font-size: 14px;
	margin-top: 22px;
	color: rgba(17, 34, 45, 0.6);
}