.sec6 {
	@include bg-defaults(1920px);
	background-image: url(../img/sec6bg.jpg);
	padding: 104.5px 0;
	
	.container {
		display: flex;
		align-items: center;
		padding-left: 15px;
	}
}

.sec6__pic {
	//background-image: url(../img/sec6circle.png);
	width: 320px;
	height: 320px;
	background-size: 100%;
	border-radius: 50%;
	margin-right: 118px;
	overflow: hidden;

	.sec6__map {
		width: 180%;
		height: 180%;
		position: relative;
		top: -40%;
		left: -40%;
	}

	iframe {
		width: 100%;
		height: 100%;
	}
}

.sec6__txt1 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	font-size: 36px;
	margin-bottom: 12px;
	color: #CCAD67;
}

.sec6__txt2 {
	font-family: Helvetica Neue;
	line-height: 15px;
	font-size: 14px;
	margin-bottom: 20px;
	color: rgba(255, 255, 255, 0.6);
}

.sec6__contacts {
	display: flex;
	width: 296px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.sec6__contact {
	width: 148px;
	
	&:nth-child(3) {
		width: 220px;
		margin-top: 22px;
		
		span {
			font-weight: bold;
		}
	}
	
	&.click {
		cursor: pointer;
		
		.sec6__contact-info {
			line-height: 18px;
		}
	}
}

.sec6__contact-title {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	font-size: 18px;
	margin-bottom: 12px;
	color: #FFFFFF;
}

.sec6__contact-info {
	font-family: Helvetica Neue;
	line-height: 15px;
	font-size: 14px;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
}

.sec6__contact-wrap {
	display: flex;
	
}