.sec10 {
	padding: 42px 0;
	
	h2 {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 36px;
		text-align: center;
		margin-bottom: 20px;
		color: #11222D;
	}
	
	.container {
		@include flex-center;
		flex-direction: column;
		//display: flex;
		//justify-content: center;
		//align-items: flex-start;
	}
}

.sec91 {
	padding: 42px 0;
	
	h2 {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 36px;
		text-align: center;
		margin-bottom: 20px;
		color: #11222D;
	}
	
	.container {
		@include flex-center;
		align-items: flex-start;
	}
}

.sec10__txt1 {
	font-family: Helvetica Neue;
	line-height: 15px;
	font-size: 14px;
	text-align: center;
	margin-bottom: 12px;
	color: rgba(17, 34, 45, 0.6);
}

.line_up {
	width: 5px;
	height: 69px;
	background-image: url(../img/svg/lineup.svg);
	margin-bottom: 12px;
}

.sec10__txt2 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	font-size: 24px;
	text-align: center;
	margin-bottom: 12px;
	color: #CCAD67;
}

.sec10__txt3 {
	font-family: Helvetica Neue;
	line-height: 15px;
	font-size: 14px;
	text-align: center;
	color: rgba(17, 34, 45, 0.6);
	width: 540px;
	
	span {
		font-weight: bold;
	}
}

.txt-block {
	display: flex;
	flex-direction: column;
	
	.post-title {
		text-decoration: none;
	}
}