.sec7 {
	padding-top: 45px;
	padding-bottom: 75px;
	background: #E5E5E5;
	
	h2 {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 36px;
		text-align: center;
		margin-bottom: 46px;
		color: #11222D;
	}
}

.sec7__switcher {
	width: 473px;
	margin: 0 auto 60px;
	display: flex;
	align-items: center;
}

.switcher__txt {
	display: flex;
	width: 174px;
	font-family: Helvetica Neue;
	line-height: 27px;
	font-size: 14px;
	align-items: flex-start;
	color: #11222D; 
}

.switcher__txt1 {
	margin-right: 49px;
	justify-content: flex-end;
	
}

.switcher__txt2 {
	margin-left: 29px;
	
}

.switcher__txt_color {
	color: #CBAD67;
}

.switcher {
	width: 47px;
	height: 21px;
	position: relative;
	background: #E5E5E5;
	border: 1px solid rgba(41, 70, 88, 0.18);
	box-sizing: border-box;
	border-radius: 100px;
	cursor: pointer;
}

.switcher__circle {
	@include circle(21px);
	background: #CCAD67;
	position: absolute;
	top: -1px;
	left: -1px;
	right: initial;
	@include ease(.4s);
	
	&.run {
		left: initial;
		right: -1px;
		@include ease(.4s);
	}
}

.sec7__package-wrap {
	width: 1105px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	align-items: flex-end;
	
	.package-block {
		
		width: 277px;
		min-height: 608px;
		
		&:nth-child(1) {
			.top-part {
				background-image: url(../img/sec7t1.png);
				background-size: 100%;
			}
		}
		
		&:nth-child(2) {
			.top-part {
				background-image: url(../img/sec7t2.png);
				background-size: 100%;
			}
		}
		
		&:nth-child(3) {
			.top-part {
				background-image: url(../img/sec7t3.png);
				background-size: 100%;
			}
			
			.sec7__ul {
				width: 194px;
			}
		}
		
		&:nth-child(4) {
			.top-part {
				background-image: url(../img/sec7t4.png);
				background-size: 100%;
			}
			
			.sec7__ul {
				width: 202px;
			}
		}
		
		.top-part {
			height: 70px;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}
		
		.mid-part {
			padding: 15.5px 0;
			width: 100%;
			text-align: center;
			font-family: Playfair Display;
			font-style: normal;
			font-weight: 900;
			line-height: normal;
			font-size: 18px;
			background: #EAEAEB;
			color: #11222D;
			border-left: 1px solid #CCAD67;
			border-right: 1px solid #CCAD67;
		}
		
		.bot-part {
			background: #FFFFFF;
			color: #11222D;
			border-left: 1px solid #CCAD67;
			border-right: 1px solid #CCAD67;
			border-bottom: 1px solid #CCAD67;
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
			min-height: 485px;
		}
		
		.price {
			font-family: Playfair Display;
			font-style: normal;
			font-weight: 900;
			line-height: normal;
			font-size: 32px;
			text-align: center;
			padding-top: 5px;
			margin-bottom: 6px;
			color: #11222D;
		}
		
		.price-txt {
			font-family: Helvetica Neue;
			line-height: 15px;
			font-size: 14px;
			text-align: center;
			color: rgba(17, 34, 45, 0.6);
			margin-bottom: 7px;
		}
		
		.price-line {
			border: 1px solid rgba(17, 34, 45, 0.1);
			width: 170px;
			height: 0px;
			margin: 0 auto 18px;
		}
		
		.btn {
			margin: 0 auto 55px;
		}
		
		.sec7__ul {
			font-family: Helvetica Neue;
			line-height: 26px;
			font-size: 14px;
			text-align: center;
			width: 174px;
			margin: 0 auto;
			
			li {
				position: relative;
				//padding-left: 10px;
				
				&::before {
					
				}
			}
		}
		
		&.popular {
			.top-part {
				height: 87px;
				@include flex-center;
				
			}
			
			.top-part__txt {
				font-family: Helvetica Neue;
				line-height: normal;
				font-size: 14px;
				text-align: center;
				text-transform: uppercase;
				padding: 7.5px 14.5px;
				background: rgba(17, 34, 45, 0.4);
				border-radius: 100px;
				color: #FFFFFF;
			}
			
			.mid-part {
				background: #416072;
				color: #FFFFFF;
				border: none;
				padding: 21px 0;
			}
			
			.bot-part {
				background: linear-gradient(205.28deg, #335061 0%, #0B2A3D 100%);
				color: #FFFFFF;
				border-left: 0;
				border-right: 0;
			}
			
			.price {
				color: #CCAD67;
			}
			
			.price-txt {
				color: rgba(255, 255, 255, 0.6);
			}
			
			.price-line {
				border: 1px solid rgba(255, 255, 255, 0.5);
			}
			
			.btn {
				margin-bottom: 35px;
			}
		}
	}
}

.year_elements {
  display : none;
}