.sec5 {
}

.sec5__top-block {
	width: 100%;
	height: 152px;
	padding-top: 25px;
	padding-bottom: 24px;
	background: #ECECEC;
	
	.container {
		@include flex-center;
		justify-content: space-between;
		padding: 0 70px;
	}
	
	.sec5__top-block__col {
		@include flex-center;
		flex-direction: column;
		
		
		&.sec5__top-block__col1 {
			.sec5__top-icon {
				width: 44.84px;
				height: 42px;
				background-image: url(../img/svg/sec5ic1.svg);
			}
		}
		
		&.sec5__top-block__col2 {
			.sec5__top-icon {
				width: 42px;
				height: 42px;
				background-image: url(../img/svg/sec5ic2.svg);
			}
		}
		
		&.sec5__top-block__col3 {
			.sec5__top-icon {
				width: 50.01px;
				height: 42px;
				background-image: url(../img/svg/sec5ic3.svg);
			}
		}
		
		&.sec5__top-block__col4 {
			.sec5__top-icon {
				width: 42px;
				height: 42px;
				background-image: url(../img/svg/sec5ic4.svg);
			}
		}
	}
	
	.sec5__top-title {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 18px;
		margin-bottom: 12px;
		color: #11222D;
	}
	
	.sec5__top-icon {
		margin-bottom: 14px;
	}
	
	.sec5__top-txt {
		font-family: Helvetica Neue;
		line-height: 15px;
		font-size: 14px;
		color: rgba(17, 34, 45, 0.6);
		width: 220px;
		text-align: center;
	}
}

.sec5__bot-block {
	padding: 120px 0;
	
	.container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
	}
	
	h4 {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 36px;
		text-align: center;
		margin-bottom: 22px;
		color: #11222D;
		width: 732px;
	}
	
	.sec5__bot-txt1 {
		font-family: Helvetica Neue;
		line-height: 15px;
		font-size: 14px;
		text-align: center;
		margin-bottom: 42px;
		color: rgba(17, 34, 45, 0.6);
		width: 540px;
	}
}

.sec5__bot-block {
	@include bg-defaults(1920px);
	background-image: url(../img/sec5bg.png);
	background-position: center;
	padding: 175px 0;
}

