.sec13 {
	padding: 42px 0 62px;
	
	h3 {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 36px;
		text-align: center;
		margin-bottom: 32px;
		color: #11222D;
	}
	
	.sec13__pic {
		width: 750px;
		height: 470px;
		background-image: url(../img/sec13pic.png);
		margin: 0 auto;
		box-shadow: 0px 4px 20px rgba(204, 173, 103, 0.3);
		background-size: 100%;
	}
}