.sec17 {
	padding: 52px 0;
	@include bg-defaults(1920px);
	background-image: url(../img/sec17bg.png);
	
	
}

.sec17__wrap {
	display: flex;
	width: 916px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

.sec17__left-part {
	min-width: 352px;
	height: 239px;
	background-image: url(../img/svg/sec17ic.svg); 
}

.sec17__right-part {
	width: 446px;
}

.sec17__title {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	font-size: 36px;
	margin-bottom: 22px;
	color: #CCAD67;
}

.sec17__txt1 {
	font-family: Helvetica Neue;
	line-height: 15px;
	font-size: 14px;
	margin-bottom: 20px;
	color: rgba(255, 255, 255, 0.6);
}

.sec17__ul {
	font-family: Helvetica Neue;
	line-height: 15px;
	font-size: 14px;
	list-style-type: none;
	color: rgba(255, 255, 255, 0.6);
	
	li {
		padding-left: 6px;
		position: relative;
		margin-bottom: 5px;
		&::before {
			content: '';
			position: absolute;
			@include circle(2px);
			background-color: #CCAD67;
			left: 0px;
			top: 5px;
		}
	}
}