#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
} 

.sec14 {
	padding: 42px 0;
	@include bg-defaults(1920px);
	background-image: url(../img/sec14bg.png);
	
	h3 {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 36px;
		text-align: center;
		margin-bottom: 52px;
		color: #11222D;
	}
	
	.circle {
		margin-bottom: 16px;
	}
}

.sec14__circle {
	display: flex;
	width: 916px;
	justify-content: space-between;
	margin: 0 auto;
	align-items: flex-start;
}

.circle__wrap {
	@include flex-center;
	flex-direction: column;
	max-width: 214px;
}