.sec3 {
	@include bg-defaults(1920px);
	background-image: url(../img/sec3bg.jpg);
	background-size: cover;
	padding: 167.5px 0;
	
	.container {
		display: flex;
		align-items: center;
		padding-left: 94px;
	}
	
	.top-block__txt,
	.bot-block__txt {
		font-family: Helvetica Neue;
		line-height: 15px;
		font-size: 14px;
		color: rgba(255, 255, 255, 0.6);
	}
}

.sec3__icon {
	width: 352px;
	height: 385px;
	background-image: url(../img/svg/sec3ic.svg);
	margin-right: 118px;
}

.sec3__txt-block {
	width: 446px;
	padding-top: 15px;
	
	h3 {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 36px;
		margin-bottom: 12px;
		color: #CCAD67;
	}
}



.sec3__top-block {
	margin-bottom: 22px;
}

.sec3__bot-block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
	.bot-block {
		width: 210px;
	}
	
	.bot-block__title {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 18px;
		margin-bottom: 12px;
		color: #FFFFFF;
	}
}

.bot-block1,
.bot-block2 {
	margin-bottom: 22px;
}