.sec15 {
	padding: 52px 0 62px;
	h3 {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 36px;
		text-align: center;
		margin-bottom: 22px;
		color: #11222D;
	}
	
	.sec15__txt {
		font-family: Helvetica Neue;
		line-height: 15px;
		font-size: 14px;
		text-align: center;
		margin-bottom: 22px;
		color: rgba(17, 34, 45, 0.6);
	}
}