.sec18 {
	padding: 62px 0;
}

.sec18__wrap {
	display: flex;
	align-items: center;
	width: 916px;
	justify-content: space-between;
	margin: 0 auto;
}

.sec18__left-part {
	width: 352px;
}

.sec18__right-part {
	width: 540px;
	background-image: url(../img/sec18img.png); 
	background-size: 100%;
	border: 1px solid #CCAD67;
	box-sizing: border-box;
	box-shadow: 0px 4px 20px rgba(204, 173, 103, 0.3);
	height: 482px;
}

.sec18__txt {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	font-size: 36px;
	text-align: center;
	color: #11222D;
	width:  336px;
	margin: 0 auto 24px;
}