.sec11 {
	padding: 52px 0;
	@include bg-defaults(1920px);
	//background-image: url(../img/sec11bg2.png);
	
	.sec11__content {
		display: flex;
		align-items: center;
	}
}

.sec11__content-left {
	width: 540px;
	margin-right: 24px;
	padding-left: 94px;
}

.sec11__left-wrap {
	display: flex;
	margin-bottom: 32px;
	
	.sec11__pic {
		margin-right: 24px;
	}
	
	&:nth-child(1) {
		
		.sec11__pic {
			min-width: 70px;
			height: 61px;
			background-image: url(../img/svg/sec11ic1.svg);
		}
	}
	
	&:nth-child(2) {
		
		.sec11__pic {
			min-width: 70px;
			height: 70px;
			background-image: url(../img/svg/sec11ic2.svg);
		}
	}
	
	&:nth-child(3) {
		margin-bottom: 0;
		
		.sec11__pic {
			min-width: 70px;
			height: 70px;
			background-image: url(../img/svg/sec11ic3.svg);
		}
	}
	
	.sec11__title {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 18px;
		margin-bottom: 12px;
		color: #11222D;
	}
	
	.sec11__txt {
		font-family: Helvetica Neue;
		line-height: 15px;
		font-size: 14px;
		
		color: rgba(17, 34, 45, 0.6);
	}
}

.sec11__content-right {
	width: 352px;
	height: 346px;
	background-image: url(../img/svg/sec11icbig.svg);
}