.sec4 {
	@include bg-defaults(1920px);
	background-image: url(../img/sec4bg.jpg);
 background-size: cover;
	padding: 151.5px 0;
	
	.container {
		display: flex;
		align-items: center;
		padding-left: 94px;
	}
}

.sec4__icon {
	width: 352px;
	height: 352px;
	background: url(../img/svg/sec4ic_2.svg) no-repeat center / contain;
}

.sec4__top-block {
	margin-bottom: 22px;
	
	h3 {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 36px;
		color: #11222D;
		margin-bottom: 12px;
	}
}

.sec4__txt-block {
	width: 446px;
	margin-right: 118px;
	
	.top-block__txt {
		font-family: Helvetica Neue;
		line-height: 15px;
		font-size: 14px;
		color: rgba(17, 34, 45, 0.6);
	}
}

.sec4__bot-block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.bot-block {
		width: 213px;
	}
	
	.bot-block__title {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 18px;
		margin-bottom: 12px;
		color: #11222D;
	}
	
	.bot-block__txt {
		font-family: Helvetica Neue;
		line-height: 15px;
		font-size: 14px;
		
		color: rgba(17, 34, 45, 0.6);
	}
}