.sec19 {
	padding: 52px 0;
	@include bg-defaults(1920px);
	background-image: url(../img/sec19bg.png); 
	
	h3 {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 36px;
		text-align: center;
		margin-bottom: 22px;
		color: #11222D;
	}
}

.sec19__txt1 {
	font-family: Helvetica Neue;
	line-height: 15px;
	font-size: 14px;
	text-align: center;
	margin-bottom: 32px;
	color: rgba(17, 34, 45, 0.6);
}

.circle {
	@include flex-center;
	position: relative;
	@include circle(160px);
	flex-direction: column;
	background-color: rgba(236, 236, 236, 0.8); 
	
	canvas {
		position: absolute;
		left: 0;
		top: 0;
	}
	
	strong {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 36px;
		text-align: center;
		
		color: rgba(17, 34, 45, 0.8);
	}
}

.circle__txt {
	font-family: Helvetica Neue;
	line-height: 15px;
	font-size: 14px;
	text-align: center;
	
	color: rgba(17, 34, 45, 0.6);
}

.sec19__circles {
	display: flex;
	width: 628px;
	justify-content: space-between;
	margin: 0 auto;
}