.sec1 {
	@include bg-defaults(1920px);
	background-image: url(../img/sec1bg.png);
}

.sec1__top-block {
	width: 100%;
	height: 211px;
	padding-top: 25px;
	padding-bottom: 24px;
	
	.container {
		@include flex-center;
		justify-content: space-between;
	}
	
	.sec1__top-block__col {
		@include flex-center;
		flex-direction: column;
		
		
		&.sec1__top-block__col1 {
			.sec1__top-icon {
				width: 33.93px;
				height: 42px;
				background-image: url(../img/svg/sec1ic1.svg);
			}
		}
		
		&.sec1__top-block__col2 {
			.sec1__top-icon {
				width: 42px;
				height: 42px;
				background-image: url(../img/svg/sec1ic2.svg);
			}
		}
		
		&.sec1__top-block__col3 {
			.sec1__top-icon {
				width: 42px;
				height: 42px;
				background-image: url(../img/svg/sec1ic3.svg);
			}
		}
	}
	
	.sec1__top-title {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 18px;
		margin-bottom: 14px;
		color: #11222D;
	}
	
	.sec1__top-icon {
		margin-bottom: 19px;
	}
	
	.sec1__top-txt {
		font-family: Helvetica Neue;
		line-height: 15px;
		font-size: 14px;
		color: rgba(17, 34, 45, 0.6);
		width: 312px;
	}
}

.sec1__bot-block {
	padding: 120px 0;
	
	.container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
	}
	
	h2 {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 36px;
		text-align: center;
		margin-bottom: 42px;
		color: #11222D;
		width: 732px;
	}
	
	.sec2__bot-txt1 {
		font-family: Helvetica Neue;
		line-height: 15px;
		font-size: 14px;
		text-align: center;
		margin-bottom: 42px;
		color: rgba(17, 34, 45, 0.6);
		width: 540px;
	}
}

