.sec12 {
	padding: 62px 0;
	@include bg-defaults(1920px);
	background-image: url(../img/sec12bg.png);
	
	h3 {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 36px;
		margin-bottom: 22px;
		color: #FFFFFF;
	}
	
	.container {
		@include flex-center;
		flex-direction: column;
	}
}

.sec12__txt1 {
	font-family: Helvetica Neue;
	line-height: 15px;
	font-size: 14px;
	text-align: center;
	width: 446px;
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 42px;
}

.sec12__blocks-wrap {
	width: 916px;
	display: flex;
	justify-content: space-between;
}

.sec12-block {
	flex-direction: column;
	@include flex-center;
	width: 292px;
	
	.block-number {
		font-family: Helvetica Neue;
		line-height: 46px;
		font-size: 36px;
		text-align: center;
		
		color: #CCAD67;
	}
	
	.block-title {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 18px;
		text-align: center;
		margin-bottom: 12px;
		color: #FFFFFF;
	}
	
	.block-txt {
		font-family: Helvetica Neue;
		line-height: 15px;
		font-size: 14px;
		text-align: center;
		
		color: rgba(255, 255, 255, 0.6);
	}
}