.sec9 {
	padding-top: 21px;
	background: #FFFFFF;
	
	.container {
		display: flex;
		flex-wrap: wrap;
	}
	
	&.sec10 {
		.line {
			background-image: none;
			border-bottom: 1px solid rgba(17, 34, 45, 0.1);
		}
		
		.blog-buttons {
			display: flex;
			width: 100%;
			justify-content: space-between;
		}
	}
}

.search-result {
	font-family: Helvetica Neue;
	line-height: 15px;
	font-size: 14px;
	
	color: rgba(17, 34, 45, 0.6);
	
	.quantity-res {
		font-weight: bold;
	}
}

.top__pagination-wrap {
	padding-bottom: 8px;
	border-bottom: 1px solid rgba(17, 34, 45, 0.1);
	width: 100%;
}

.blog-wrap {
	padding-top: 22px;
	width: 716px;
}

.blog-block {
	.btn {
		margin-bottom: 22px;
	}
	
	.separator {
		width: 716px;
		height: 5px;
		background-image: url(../img/svg/separator.svg);
		margin-bottom: 22px;
	}
}

.blog-title {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	font-size: 24px;
	margin-bottom: 14px;
	color: #11222D;
	text-decoration:  none;
}


.blog-info {
	display: flex;
	align-items: center;
}

.blog-author {
	font-family: Helvetica Neue;
	line-height: 15px;
	font-size: 14px;
	font-style: italic;
	color: rgba(17, 34, 45, 0.6);
	margin-right: 22px;
	
	span {
		color: #CCAD67;
	}
}

.blog-date {
		font-family: Helvetica Neue;
		line-height: 15px;
		font-size: 14px;
		
		color: rgba(17, 34, 45, 0.6);
	.date-icon {
		width: 12px;
		height: 12px;
		background-image: url(../img/svg/small-calendar.svg);
	}
	
	.blog-date {
		
	}
}

.blog-txt {
	font-family: Helvetica Neue;
	line-height: 15px;
	font-size: 14px;
	margin-bottom: 18px;
	margin-top: 16px;
	color: rgba(17, 34, 45, 0.6);
}

.sidebar-wrap {
	width: 331px;
	margin-left: 24px;
	padding-top: 22px;

}

#search-form {
	position: relative;
	width: 100%;
	margin-bottom: 22px;
	
	input {
		position: relative;
		font-family: Helvetica Neue;
		line-height: normal;
		font-size: 14px;
		text-align: left;
		padding: 10px 12px;
		color: rgba(17, 34, 45, 0.4);
		background: rgba(51, 80, 97, 0.1);
		border: 2px solid rgba(17, 34, 45, 0.1);
		box-sizing: border-box;
		width: 100%;
		font-weight: bold;
		outline: none;

		&:focus {
			border: 2px solid #CCAD67;
			box-shadow: 0px 4px 4px rgba(204, 173, 103, 0.2);
		}
	}
	
	.search-btn {
		position: absolute;
		right: 10px;
		top: 10px;
		background-image: url(../img/svg/eye.svg);
		width: 15.45px;
		height: 16px;
		border: 0;
		cursor: pointer;
		outline: none;
		background-color: transparent;
	}
}

#subscribe-form {
	background: #F5F5F5;
	padding: 22px 26px;
	
	.input-title {
		font-family: Helvetica Neue;
		line-height: 15px;
		font-size: 14px;
		margin-bottom: 2px;
		color: rgba(17, 34, 45, 0.6);
	}
	
	input {
		background: #FFFFFF;
		border: 2px solid transparent;
		box-sizing: border-box;
		
		width: 100%;
		margin-bottom: 22px;
		padding: 9px 12px;
		outline: none;
		
		&:focus {
			border: 2px solid #CCAD67;
			box-shadow: 0px 4px 4px rgba(204, 173, 103, 0.2);
		}
	}
	
	.btn {
		width: 100%;
	}
}

.susbscribe-txt {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	font-size: 18px;
	text-align: center;
	width: 287px;
	color: #11222D;
	margin: 0 auto 18px;
}

.popular-posts {
	margin-top: 22px;
}

.popular-posts__title {
	font-family: Helvetica Neue;
	line-height: 18px;
	font-size: 14px;
	font-weight: bold;
	color: #11222D;
	margin-bottom: 14px;
	
	span {
		font-weight: normal;
	}
}

.popular-post__block {
	display: flex;
	margin-bottom: 20px;
	
	.pic-block {
		min-width: 96px;
		height: 66px;
		margin-right: 12px;
		background-image: url(../img/videopic.jpg);
		background-size: 100%;
	}
	
	.post-title {
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 14px;
		margin-bottom: 9px;
		color: #11222D;
	}
	
	.link {
		font-family: Helvetica Neue;
		line-height: 15px;
		font-size: 14px;
		text-decoration-line: underline;
		
		color: #CCAD67;
	}
}

.line {
	width: 100%;
	height: 5px;
	background-image: url(../img/svg/separator.svg);
	margin-bottom: 22px;
}

.blog-pic {
	width: 716px;
	height: 250px;
	background-image: url(../img/sc1pic.jpg);
	background-size: 100%;
	margin-bottom: 18px;
	margin-top: 18px;
}

.socials__blog {
	width: 110px;
	align-items: center;
	@include tablet {
		display: none;
	}
	
	.social-txt {
		font-family: Helvetica Neue;
		line-height: normal;
		font-size: 14px;
		color: rgba(17, 34, 45, 0.6);
	}
}

.blog-buttons {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.blog-more {
	height: 48px;
	font-size: 18px;
	color: #CCAD67;
	margin: 60px auto;
	@include mobile {
		height: 36px;
		margin: 40px auto;
	}
	&:hover {
		color: #fff;
	}
}