section.sec16
	.container
		h2 Step by Step Outbound Sales Process
		p.sec16__txt1 At Upsail we pride ourselves for utilizing newest approaches to outbound email. Hence, great and predictable revenue growth is a result of well-developed and tested combination of quality leads, super-personalized messaging and the awesome process behid
		.sec16__blocks
			.sec16__block
				.sec16__block__top-wrap
					.block-icon
					p.block-title Accurate prospects 
				p.sec16__block__txt Our prospecting process and trained lead generation experts ensure that the foundation (right person with accurate contact data) is laid, dramatically increasing chances of campaign success. <br><br>99.9% valid data & emails
			.sec16__block
				.sec16__block__top-wrap
					.block-icon
					p.block-title Dedicated<br> in-house SDRs
				p.sec16__block__txt Human-to-human engagement approach <br><br> Handles first-touches, follow-ups and lead nurturing. <br> Creation and refining response library to create more opportunities from churned customers
			.sec16__block
				.sec16__block__top-wrap
					.block-icon
					p.block-title Tailored messaging
				p.sec16__block__txt Personalization of each email leaving the inbox.<br><br> Cross-referenced message targeting multiple levels in target account <br><br> Ongoing A/B testing and revisions for further improvement.