section.sec17
	.container
		.sec17__wrap
			.sec17__left-part
			.sec17__right-part
				p.sec17__title Advanced Reporting
				p.sec17__txt1 Concentrate on the data that really matters:
				.sec17__ul
					li What messaging & Subject Line performs better?
					li What kind of contects delivers more value?
					li What ICP leads to higher conversion?
					li What is the best time to engage?