section.sec18
	.container
		.sec18__wrap
			.sec18__left-part
				p.sec18__txt Our Sales Development Reps set amazing appointments:
				a.btn.subm.popup-link(onclick="showPopup('#popup-icp');") GET STARTED NOW
			.sec18__right-part