section.sec19
	.container
		h3 We take pride in the results we achieve
		p.sec19__txt1 Outbound Sales changed a lot over last 7 years.  <br> Now success is driven by highly personalized and relevant messaging addressed to Ideal Buyer at the right time.<br>  At SCALE!
		.sec19__circles
			.circle#circle1
				strong
				p.circle__txt Open Rates
			.circle#circle2
				strong
				p.circle__txt Replies
			.circle#circle3
				strong
				p.circle__txt Cold Prospect to <br>Appointment Ratio