.popup-layout#popup-success
  .popup-scrollarea
    .popup.popup--min.popup-success
      .popup__close
        .popup__close-line
        .popup__close-line

      .popup-success__icon

      h2.popup__title Your responses were successfully submitted. Thank you!
      h3 Our rep will be in touch shortly!

script.
  function hidePopupNew() {
    $('.popup-layout, .popup-layout-payment, .modal').fadeOut(400);
  }

  function showPopupNew(popupId) {
    hidePopupNew();
    $(popupId).fadeIn(400);
  }

  function showSuccessPopup() {
    showPopupNew('#popup-success');
    $('.popup-success').css({opacity: 1, transform: 'scale(1)'});
    $('.popup-success__icon').css({opacity: 1, transform: 'scale(1)'});
  }