.popup-layout#popup-icp
	.popup-scrollarea
		.popup.popup-icp
			.popup__close
				.popup__close-line
				.popup__close-line

			h2.popup__title Fill inputs below

			form.standart-form#upsail_form_popup.upsail_form(accept-charset="utf-8" onsubmit="return validate(upsail_form_popup);" action="/icpsubmit" method="post")
				.form__input-wrap
					p.input__title First name*
					input.first-name(name="firstName", type="text", placeholder="Frederick", required="")
				//.form__input-wrap
				//	p.input__title
				//	input(name="", type="text", required="")
				.form__input-wrap
					p.input__title Last name*
					input.last-name(name="lastName", type="text", placeholder="Anders", required="")
				.form__input-wrap
					p.input__title Company name*
					input.email(name="company", type="text", placeholder="Company Inc.", required="")
				.form__input-wrap
					p.input__title Your title*
					input.email(name="title", type="text", placeholder="Title example", required="")
				.form__input-wrap
					p.input__title Your Email*
					input(name="email", type="email", required="" placeholder="email@mail.com")
				.form__textarea-wrap
					p.input__title Tell us about your project*
					textarea(name="txtar1" form="upsail_form_popup" placeholder="Feel free to provide several verticals")
				.hidden-inputs
					input(type="hidden" name="form" value="popup")
				button.btn.subm(type="submit") SUBMIT PROFILE
