section.sec7
	.container
		a#scr
		h2 Choose your plan
		.sec7__switcher
			p(data-type="monthly").switcher__txt.switcher__txt1.switcher__txt_color Monthly Billing
			.switcher(onclick="clickSwitch(this)")
				.switcher__circle
			p(data-type="annual").switcher__txt.switcher__txt2 Quarterly Billing
		.sec7__package-wrap
			.package-block.subm
				.top-part
				p.mid-part Custom Quote
				.bot-part
					.month_elements
						.price-block
							p.price= '$' + (monthly.customQuote || 0)
							p.price-txt starting at
							.price-line
						a(href="/icp?package=custom_quote&price=" + (monthly.customQuote || 0) + "&type=monthly#form").btn GET STARTED
					.year_elements
						.price-block
							p.price= '$' + (annual.customQuote || 0)
							p.price-txt starting at
							.price-line
						a(href="/icp?package=custom_quote&price=" + + (annual.customQuote || 0) + "&type=quarterly#form").btn GET STARTED
					ul.sec7__ul
						li • Ideal Customer Profile
						li • 100% Email Validation
						li • Account-Based Sales Intelligence
						li • Existing Database Development & Cleansing
						li • Weekly Reports
						li • Basic Support
			.package-block.subm
				.top-part
				p.mid-part Lead Growth
				.bot-part
					.month_elements
						.price-block
							p.price= '$' + (monthly.leadGrowth || 0)
							p.price-txt per month
							.price-line
						a(href="/icp?package=lead_growth&price=" + (monthly.leadGrowth || 0) + "&type=monthly#form").btn GET STARTED
					.year_elements
						.price-block
							p.price= '$' + (annual.leadGrowth || 0)
							p.price-txt per quarter
							.price-line
						a(href="/icp?package=lead_growth&price=" + (annual.leadGrowth || 0) + "&type=quarterly#form").btn GET STARTED
					ul.sec7__ul
						li • Dedicated Lead Generation Expert
						li • 1000+ B2B Leads
						li • 2 Ideal Customer Profiles
						li • Basic Sales Intelligence
						li • Weekly Delivery
						li • On-Demand Research
						li • Quality Control Manager
						li • Full Lead Approval w/ Replacements
			.package-block.subm.popular
				.top-part
					p.top-part__txt most popular
				p.mid-part Sales Opportunity
				.bot-part
					.month_elements
						.price-block
							p.price= '$' + (monthly.salesOpportunity || 0)
							p.price-txt per month
							.price-line
						a(href="/icp?package=sales_opportunity&price=" + (monthly.salesOpportunity || 0) + "&type=monthly#form").btn GET STARTED
					.year_elements
						.price-block
							p.price= '$' + (annual.salesOpportunity || 0)
							p.price-txt per quarter
							.price-line
						a(href="/icp?package=sales_opportunity&price=" + (annual.salesOpportunity || 0) + "&type=quarterly#form").btn GET STARTED
					ul.sec7__ul
						li • Dedicated Team (SDR + Lead Researcher)
						li • 1200+ B2B Leads
						li • Unlimited Customer Profiles
						li • 2 Outbound Campaigns
						li • Advanced Sales Intelligence
						li • Lead Qualification
						li • A/B Testing • Customer Success Manager
						li • Account Based Selling
						li • Advanced KPI Reporting
			.package-block.subm
				.top-part
				p.mid-part Sales Boost
				.bot-part
					.month_elements
						.price-block
							p.price= '$' + (monthly.salesBoost || 0)
							p.price-txt per month
							.price-line
						a(href="/icp?package=sales_boost&price=" + (monthly.salesBoost || 0) + "&type=monthly#form").btn GET STARTED
					.year_elements
						.price-block
							p.price= '$' + (annual.salesBoost || 0)
							p.price-txt per quarter
							.price-line
						a(href="/icp?package=sales_boost&price=" + (annual.salesBoost || 0) + "&type=quarterly#form").btn GET STARTED
					ul.sec7__ul
						li • Dedicated SDR Team (2 SDRs + 2 Lead Researchers)
						li • 2500+ B2B Leads
						li • Post Appointment Lead Qualification
						li • Unlimited ICPs & Campaigns
						li • Multi Language Engagement
						li • Premium Sales Intelligence
						li • Direct Phone Numbers
						li • Weekly Heads Up Calls

		script.
			function clickSwitch(elem) {
				const elemCircle = elem.getElementsByClassName('switcher__circle')[0];
				const monthlyElements = document.getElementsByClassName('month_elements');
				const annualElements = document.getElementsByClassName('year_elements');

				const is_month = elemCircle.className.indexOf('run') > -1;

				for (var i = 0; i < monthlyElements.length; i++) {
					if (is_month) {
						monthlyElements[i].style.display = 'block';
					} else {
						monthlyElements[i].style.display = 'none';
					}
				}

				for (var j = 0; j < annualElements.length; j++) {
					if (is_month) {
						annualElements[j].style.display = 'none';
					} else {
						annualElements[j].style.display = 'block';
					}
				}

			}