extends ../layouts/main.jade

block meta
  title Blog
  meta(name='title', content='Blog')
  meta(name='description', content="Get latest information from our articles and interesting storyes about using our product as good as well")
  meta(property='og:title', content='Blog')
  meta(property='og:description', content="Get latest information from our articles and interesting storyes about using our product as good as well")


block contents
  header.main__header.hh4
    .container
      include ../partials/client/header-full.jade
      .header__mid-block
        h1 Blog
        p.mid-block__txt2 Get latest information from our articles and interesting storyes about using our product as good as well

  include ../partials/client/header.jade
  include ../pages-partials/blog/section1.jade

  include ../partials/client/footer.jade
  
