extends ../layouts/main.jade

block meta
  title Blog > #{post.title}
  meta(name='title', content='Blog > #{post.title}')
  meta(name='description', content="Get latest information from our articles and interesting storyes about using our product as good as well")
  meta(property='og:title', content='Blog > #{post.title}')
  meta(property='og:description', content="Get latest information from our articles and interesting storyes about using our product as good as well")

block contents
  header.main__header.hh4.hh5
    .container
      include ../partials/client/header-full.jade
      .header__mid-block.header__mid-block--single
        h1 <a href="/blog">Blog</a> <span class="arrow"></span> <span class="gold-txt">Beginner's Guide to Purchasing a Commercial a Sound System</span>
        p.mid-block__txt2 Get latest information from our articles and interesting storyes about using our product as good as well

  include ../partials/client/header.jade
  include ../pages-partials/blog-page/section1.jade

  include ../partials/client/footer.jade
  
