extends ../layouts/main.jade

block meta
  title Ideal Customer Profile
  meta(name='title', content='Ideal Customer Profile')
  meta(name='description', content="Get full understanding of your ideal customer and create perfect scope of your target audience")
  meta(property='og:title', content='Ideal Customer Profile')
  meta(property='og:description', content="Get full understanding of your ideal customer and create perfect scope of your target audience")

block contents
  header.main__header.hh3
    .container
      include ../partials/client/header-full.jade
      .header__mid-block
        h1 Ideal Customer Profile
        p.mid-block__txt2 Get full understanding of your ideal customer and create perfect scope of your target audience
        .mid-block__buttons
          a.btn.btn-anchor.btn_transparent(href="#form") CREATE PROFILE
        .bottom__icon-wrap
          .icon

  include ../partials/client/header.jade  
  include ../pages-partials/profile/section1.jade

  include ../partials/client/footer.jade
  

