extends ../layouts/main.jade

block contents
  header.main__header.hh1
    .container
      include ../partials/client/header-full.jade
      .header__mid-block
        p.mid-block__txt1 UPSAIL.IO
        h1 If sales opportunity doesn't knock, BUILD a door
        p.mid-block__txt2 There’s you need to add some description text about your product for better understanding what you do right from the first screen.
        .mid-block__buttons
          a.btn.btn_no-hover.popup-link(onclick="showPopup('#popup-icp');") GET STARTED
          a.btn.btn_transparent(href="/leadgeneration") LEARN MORE
        .bottom__icon-wrap
          .icon

  include ../partials/client/header.jade
  include ../pages-partials/main-page/section1.jade
  include ../pages-partials/main-page/section2.jade
  include ../pages-partials/main-page/section3.jade
  include ../pages-partials/main-page/section4.jade
  include ../pages-partials/main-page/section5.jade
  include ../pages-partials/main-page/section6.jade

  include ../partials/client/footer.jade