extends ../layouts/main.jade

block meta
  title Lead Generation
  meta(name='title', content='Lead Generation')
  meta(name='description', content="Over 40% of leads you get from list vendors will contain outdated, irrelevant and invalid information about your potential customers. Regular bounce rate for such lists never drops below 24%")
  meta(property='og:title', content='Lead Generation')
  meta(property='og:description', content="Over 40% of leads you get from list vendors will contain outdated, irrelevant and invalid information about your potential customers. Regular bounce rate for such lists never drops below 24%")

block contents
  header.main__header.hh6
    .container
      include ../partials/client/header-full.jade
      .header__mid-block
        h1 Lead Generation
        p.mid-block__txt2 Over 40% of leads you get from list vendors will contain outdated, irrelevant and invalid information about your potential customers. Regular bounce rate for such lists never drops below 24%
        .mid-block__buttons
          a.btn.btn_transparent.popup-link(onclick="showPopup('#popup-icp');") GET FREE SAMPLE
        .bottom__icon-wrap
          .icon

  include ../pages-partials/lead-generation/section1.jade
  include ../pages-partials/lead-generation/section2.jade
  include ../pages-partials/lead-generation/section3.jade
  include ../pages-partials/lead-generation/section4.jade
  include ../pages-partials/lead-generation/section5.jade
  include ../pages-partials/lead-generation/section6.jade
  include ../partials/client/scripts.jade
  include ../partials/client/header.jade


  include ../partials/client/footer.jade