extends ../layouts/main-admin

block contents

  section#wrapper.login-register
    .login-box
      .white-box
        form#loginform.form-horizontal.form-material(action="/login", method="post")
          h3.box-title.m-b-20 Authorization
          if (message.length > 0)
            h2 Error
            h4= message
          .form-group
            .col-xs-12
              input.form-control(type="email" name="email" required="" placeholder="Enter e-mail")
          .form-group
            .col-xs-12
              input.form-control(type="password" name="password" required="" placeholder="Enter password")
          .form-group
            .col-md-12
              .checkbox.checkbox-primary.pull-left.p-t-0
                input#remember-me(type="checkbox" name="rememberMe" checked="checked")
                label(for="remember-me")  Remember me
              a(href='/forget').text-dark.pull-right
                i.fa.fa-lock.m-r-5
                |  Forgot your password?
          .form-group.text-center.m-t-20
            .col-xs-12
              button.btn.btn-info.btn-lg.btn-block.text-uppercase.waves-effect.waves-light(type="submit") Login


  // jQuery
  script(src="/plugins/bower_components/jquery/dist/jquery.min.js")
  // Bootstrap Core JavaScript
  script(src="/bootstrap/dist/js/bootstrap.min.js")
  // Menu Plugin JavaScript
  script(src="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js")
  // slimscroll JavaScript
  script(src="/js/pages/admin-material/jquery.slimscroll.js")
  // Wave Effects
  script(src="/js/pages/admin-material/waves.js")
  // Custom Theme JavaScript
  script(src="/js/pages/admin-material/custom.min.js")
  // Style Switcher
  script(src="/plugins/bower_components/styleswitcher/jQuery.style.switcher.js")

