extends ../layouts/main.jade

block meta
  title Outbound sales
  meta(name='title', content='Outbound sales')
  meta(name='description', content="Description text block of logic outbound sales services and examples, where customer can use it in real life")
  meta(property='og:title', content='Outbound sales')
  meta(property='og:description', content="Description text block of logic outbound sales services and examples, where customer can use it in real life")

block contents
  header.main__header.hh6
    .container
      include ../partials/client/header-full.jade
      .header__mid-block
        h1 Outbound sales
        p.mid-block__txt2 Description text block of logic outbound sales services and examples, where customer can use it in real life
        .mid-block__buttons
          a.btn.btn_transparent.popup-link(onclick="showPopup('#popup-icp');") GET CONTACT
        .bottom__icon-wrap
          .icon

  include ../partials/client/header.jade
  include ../pages-partials/outbound-sales/section1.jade
  include ../pages-partials/outbound-sales/section2.jade
  include ../pages-partials/outbound-sales/section3.jade
  include ../pages-partials/outbound-sales/section4.jade

  include ../partials/client/footer.jade