extends ../layouts/main.jade

block meta
  title Plans & Pricing
  meta(name='title', content='Plans & Pricing')
  meta(name='description', content="Find out what and how much you will have to pay for and understand that our offers are the most profitable.")
  meta(property='og:title', content='Plans & Pricing')
  meta(property='og:description', content="Find out what and how much you will have to pay for and understand that our offers are the most profitable.")

block contents
  header.main__header.hh2
    .container
      include ../partials/client/header-full.jade
      .header__mid-block
        h1 Plans & Pricing
        p.mid-block__txt2 Find out what and how much you will have to pay for and understand that our offers are the most profitable.
        .mid-block__buttons
          a.btn.btn_transparent.btn-anchor(href="#scr") GET INFORMATION
        .bottom__icon-wrap
          .icon

  include ../partials/client/header.jade
  include ../pages-partials/plans/section1.jade

  include ../partials/client/footer.jade