extends ../../layouts/main-admin

block contents
    // Preloader
    .preloader
        .cssload-speeding-wheel

    #wrapper
        include ./../../partials/admin/header.jade
        include ./../../partials/admin/aside-menu.jade

        // Page Content
        #page-wrapper
            .container-fluid
                .row.bg-title
                    .col-lg-3.col-md-4.col-sm-4.col-xs-12
                        h4.page-title Blog
                    .col-lg-9.col-sm-8.col-md-8.col-xs-12
                        ol.breadcrumb
                            li
                                a(href='/admin') Main
                            li.active Blog
                .row
                    .form-group
                        .col-sm-4.m-b-20
                            a.btn.btn-block.btn-outline.btn-rounded.btn-info.btn-lg(href="/admin/blog/new") Create post
                .row
                    .col-sm-12
                        .white-box
                            .table-responsive
                                table#table_blog.table.table-striped
                                    thead
                                        tr
                                            th ID
                                            th Title
                                            //th Priority
                                            th Action

        include ./../../partials/admin/footer.jade

        script(src='/plugins/bower_components/datatables/jquery.dataTables.min.js')
        script(src="/js/pages/admin/admin-blog-list.js")