extends ../../layouts/main-admin

block contents
    // Preloader
    .preloader
        .cssload-speeding-wheel

    #wrapper
        include ./../../partials/admin/header.jade
        include ./../../partials/admin/aside-menu.jade

        // Page Content
        #page-wrapper
            .container-fluid
                .row.bg-title
                    .col-lg-3.col-md-4.col-sm-4.col-xs-12
                        h4.page-title Edit
                    .col-lg-9.col-sm-8.col-md-8.col-xs-12
                        ol.breadcrumb
                            li
                                a(href='/admin') Main
                            li
                                a(href='/admin/admins') All admins
                            li.active Edit
                if (message)
                    .row
                        p(style='color:red;') #{message}
                .row
                    form(method='post', action='/admin/admins/' + admin.admin_id + '/edit')
                        .form-group
                            label Email:
                            input.form-control(type='email', name='email', required='', placeholder='Enter e-mail', value= admin.email)
                        .form-group
                            label First name:
                            input.form-control(type='text', name='name', required='', placeholder='Enter first name', value= admin.name)
                        .form-group
                            label Last name:
                            input.form-control(type='text', name='lastName', required='', placeholder='Enter last name', value= admin.lastName)
                        .form-group
                            label Password:
                            input.form-control(type='password', name='password', placeholder='Enter password')
                            small(class='form-text text-muted') If you don't want change password just set this field empty
                        .clear
                        button.btn(type='submit' style="float:left") Save

        include ./../../partials/admin/footer.jade