extends ../../layouts/main-admin

block contents
	// Preloader
	.preloader
		.cssload-speeding-wheel

	#wrapper
		include ../../partials/admin/header.jade
		include ../../partials/admin/aside-menu.jade

		// Page Content
		#page-wrapper
			.container-fluid
				.row.bg-title
					.col-lg-3.col-md-4.col-sm-4.col-xs-12
						h4.page-title Edit Plan
					.col-lg-9.col-sm-8.col-md-8.col-xs-12
						ol.breadcrumb
							li
								a(href='/admin') Main
							li
								a(href='/admin/admins') All admins
							li.active Edit plan
				if (message)
					.row
						p(style='color:red;') #{message}
				.row
					form#plan-form(method='post', action='/admin/plans/' + plan.plan_id + '/edit')
						.form-group
							label Name:
							input#name.form-control(type='text', name='name', placeholder='Enter name', value = plan.name)
						.form-group
							label Custom Quote:
							input.form-control.price(type='text', name='customQuote', placeholder='Enter custom quote', value=(plan.customQuote || 0))
						.form-group
							label Lead Growth:
							input.form-control.price(type='text', name='leadGrowth', placeholder='Enter lead growth', value=(plan.leadGrowth || 0))
						.form-group
							label Sales Opportunity:
							input.form-control.price(type='text', name='salesOpportunity', placeholder='Enter sales opportunity', value=(plan.salesOpportunity || 0))
						.form-group
							label Sales Boost:
							input.form-control.price(type='text', name='salesBoost', placeholder='Enter sales boost', value=(plan.salesBoost || 0))

						.clear
							button.btn(type='submit' style="float:left") Save

		include ../../partials/admin/footer.jade
		script(src="/js/pages/admin/admin-plan-edit.js")