extends ../../layouts/main-admin

block contents
	// Preloader
	.preloader
		.cssload-speeding-wheel

	#wrapper
		include ../../partials/admin/header.jade
		include ../../partials/admin/aside-menu.jade

		// Page Content
		#page-wrapper
			.container-fluid
				.row.bg-title
					.col-lg-3.col-md-4.col-sm-4.col-xs-12
						h4.page-title Plans
					.col-lg-9.col-sm-8.col-md-8.col-xs-12
						ol.breadcrumb
							li
								a(href='/admin') Main
							li.active Plans
				.row
					.col-sm-12
						.white-box
							.table-responsive
								table#table_plans.table.table-striped
									thead
										tr
											th ID
											th Name
											th Custom Quote
											th Lead Growth
											th Sales Opportunity
											th Sales Boost
											th Action

		include ../../partials/admin/footer.jade

		script(src='/plugins/bower_components/datatables/jquery.dataTables.min.js')
		script(src="/js/pages/admin/admin-plan-list.js")