extends ../../layouts/main-admin

block contents
    // Preloader
    .preloader
        .cssload-speeding-wheel

    #wrapper
        include ./../../partials/admin/header.jade
        include ./../../partials/admin/aside-menu.jade

        // Page Content
        #page-wrapper
            .container-fluid
                .row.bg-title
                    .col-lg-3.col-md-4.col-sm-4.col-xs-12
                        h4.page-title Edit post
                    .col-lg-9.col-sm-8.col-md-8.col-xs-12
                        ol.breadcrumb
                            li
                                a(href='/admin') Main
                            li
                                a(href='/admin/blog') All posts
                            li.active Edit
                if (message)
                    .row
                        p(style='color:red;') #{message}
                .row
                    form(method='post', action='/admin/blog/#{post.blog_id}/edit', enctype='multipart/form-data')
                        .form-group
                            label Title:
                            input.form-control(type='text', name='title', required='', placeholder='Enter title', value=(post.title || ''))
                        .form-group
                            label Author:
                            input.form-control(type='text', name='author', required='', placeholder='Enter author', value=(post.author || ''))
                        .form-group
                            label Image:
                            input.dropify(type='file', name='picture', accept='image/jpg,image/jpeg,image/png,image/bmp', data-default-file=(post.picture || ''))
                        .form-group
                            label Description:
                            textarea.form-control(name='description', required='', placeholder='Enter short description')!= post.description || ''
                        .form-group
                            label Main text:
                            textarea.mymce.form-control(name='text')!= (post.text.replace(/(\r\n|\n|\r)/gm, '')) || ''
                        .clear
                        button.btn(type='submit' style="float:left") Save

        iframe#form_target(name="form_target" style="display:none")
        form#img_editor_upload(action="/uploadMCE" method="post" target="form_target" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden")
            input(name="image" type="file" onchange="$('#img_editor_upload').submit();this.value='';")

        include ./../../partials/admin/footer.jade

        script(type="text/javascript", src='/plugins/bower_components/dropify/dist/js/dropify.min.js')
        script(type="text/javascript", src='/plugins/bower_components/tinymce_new/tinymce.min.js')
        script(type='text/javascript').
            var $ = jQuery.noConflict ();

            var initTinyMCE = function () {
                if ($ (".mymce").length > 0) {
                    tinymce.init ({
                        selector: ".mymce",
                        //theme: "modern",
                        height: 300,
                        file_browser_callback: function (field_name, url, type, win) {
                            if (type == 'image') $ ('#img_editor_upload input').click ();
                        },
                        file_browser_callback_types: 'image',
                        images_upload_url: '/uploadMCE',
                        automatic_uploads: true,
                        plugins: [
                            "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker"
                            , "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking"
                            , "save table contextmenu directionality emoticons template paste textcolor"
                        ],
                        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
                    });
                }
            };

            $ (document).ready (function () {

                initTinyMCE();

                $ ('.dropify').dropify ();
            });