// Left navbar-header
.navbar-default.sidebar(role='navigation')
  .sidebar-nav.navbar-collapse.slimscrollsidebar
    ul#side-menu.nav
      li.sidebar-search.hidden-sm.hidden-md.hidden-lg
        .input-group.custom-search-form
          input.form-control(type='text', placeholder='Search...')
          span.input-group-btn
            button.btn.btn-default(type='button')
              i.fa.fa-search
      li#plansLi
        a.waves-effect(href='/admin/plans')
          i.fa.fa-money
          span.hide-menu Plans
      li#adminsLi
        a.waves-effect(href='/admin/admins')
          i.fa.fa-users(data-icon='6')
          span.hide-menu
            | Admins
            span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='/admin/admins') All admins
          li
            a(href='/admin/admins/new') Create
      li#headingsLi
        a.waves-effect(href='/admin/blog')
          i.fa.fa-pencil-square-o(data-icon='.')
          span.hide-menu
            | Blog
            span.fa.arrow
        ul.nav.nav-second-level
          li
            a(href='/admin/blog') Post list
          li
            a(href='/admin/blog/new') Create
      li
        a.waves-effect(href='/logout')
          i.fa.fa-sign-out(data-icon='g')
          span.hide-menu
            | Log out

// Left navbar-header end
