section.sec14
	.container
		h3 Our (or maybe your’s) KPI’s
		.sec14__circle
			.circle__wrap
				.circle#circle4
					strong
				.circle__txt Lower Customer Acquisition Cost
			.circle__wrap
				.circle#circle5
					strong
				.circle__txt Average increase of reply rate & number of sales opportunities created addressing your superior-personalized emails to target audience
			.circle__wrap
				.circle#circle6
					strong
				.circle__txt Average performance boost of your Account Executives. <br>Your talented rockstars do what they love most. SELL!
			.circle__wrap
				.circle#circle7
					strong
				.circle__txt Modern B2B sales teams already benefit from outsourcing their prospecting needs