section.sec11
	.container
		.sec11__content
			.sec11__content-left
				.sec11__left-wrap
					.sec11__pic
					.sec11__txt-block
						p.sec11__title Yes! Prospecting is that SIMPLE!
						p.sec11__txt Identify multiple descision makers and prospects who influence buying solution at each of your Target Accounts. <br><br> Get superpower! With valid and deliverable email address and personal phone number your pitch will result in streamline of qualified sales opportunities <br><br> Your dedicated Lead Generation Expert will provide detailed feedback on how project performs, where we stuck and where we hit the gold vein. It’s all about providing you with HOW and WHY instead just of WHAT.
				.sec11__left-wrap
					.sec11__pic
					.sec11__txt-block
						p.sec11__title YAY! Sales Intelligence!
						p.sec11__txt Get key data points for audience segmentation and message personalization. Your ideal prospects want to be engaged in smart and value-driven way.
				.sec11__left-wrap
					.sec11__pic
					.sec11__txt-block
						p.sec11__title Divide and rule
						p.sec11__txt Consolidate and simplify lead sources. <br><br>Keep track on every single lead generation channel and choose the best ones. Upsail Lead Generation Expert and your dedicated campaign strategist will make sure you get fresh-baked insights to drive bursting revenue growth.
			.sec11__content-right
			