section.sec12
	.container
		h3 Put your prospecting on autopilot
		p.sec12__txt1 Upsail enables you to remove the tedious and time-consuming tasks associated with sourcing for right accounts and prospects from the shoulders of your sales team. By applying the power of human intelligence, tailored research processes and best-in-class tools, Upsail researcher surfaces those who are the best fit for you – and most importantly, interested in your solution – and delivers opportunities directly to your team. Yep, it’s really that simple.
		.sec12__blocks-wrap
			.sec12-block
				p.block-number 1
				p.block-title Ideal Customer Profile
				p.block-txt Our Lead Generation Expert dives in a deep analysis of your ICP revealing best research strategies to deliver 100% accurate data.
			.sec12-block
				p.block-number 2
				p.block-title Delivery & Calibration
				p.block-txt New prospects are delivered on a daily, weekly or monthly basis. Every single entry that you feel does not fit requirements is replaced same day.
			.sec12-block
				p.block-number 3
				p.block-title Sales Intelligence
				p.block-txt CEO’s who love rugby? Comanies that were acquired or funded? Whenever you need high-personalized data, our team is here to help!