.section.sec10
	.container
		h2 This is one of the things we do best
		p.sec10__txt1 Sales prospecting humanized
		.line_up
		p.sec10__txt2 Don’t buy a list. Build a process.
		p.sec10__txt3 <span>Over 40</span>% of leads you get from list vendors will contain outdated, irrelevant and invalid information about your potential customers. Regular bounce rate for such lists n<span>ever drops below 24</span>%