footer.footer
	.container
		.footer__links
			a(href="/icp") Ideal Customer Profile
			a(href="#") Get In Touch
			a(href="/leadgeneration") Lead Generation
			a(href="/outboundsales") Outbound Sales
		.footer__links
			a(href="/plans-and-pricing") Plans & Pricing
			//a(href="#") Services
			a(href="/blog") Blog
		.socials
			a.fb(target="_blank" href="https://www.facebook.com/upsail.io/")
			a.linked(target="_blank" href="https://www.linkedin.com/company/18397348/")


include ../client/scripts.jade

include ../client/popups/popup-icp.jade