.responsive__header
  .header__top-block
    a(href="/").header__logo
    .header__links
      a(href="/") Home <span></span>
      .dd_menu
        p.service Services <span></span>
        .dropdown__hover
          .dd
          a(href="/leadgeneration") Lead generation
          .line
          a(href="/outboundsales") Outbound sales
      a(href="/plans-and-pricing") Plans & Pricing <span></span>
      a(href="/blog") Blog <span></span>
      a(href="/icp") Ideal Customer Profile <span></span>
    .burger
