.menu_responsive
   a(href="/") Home <span></span>
   .dd_menu
   a(href="/leadgeneration") Lead generation
   a(href="/outboundsales") Outbound sales
   a(href="/plans-and-pricing") Plans & Pricing <span></span>
   a(href="/blog") Blog <span></span>
   a(href="/icp") Ideal Customer Profile <span></span>
   .close-btn 