//script(src='js/intlTelInput.min.js' type='text/javascript')
script(src='/js/circle-progress.min.js' type='text/javascript')
//script(src='/js/AnchorScroller.js' type='text/javascript') 
script(src='/js/jquery.appear.js' type='text/javascript') 
script(src='/js/common.js' type='text/javascript') 

script.
  var el = $('.circle'),
    inited = false;
  el.appear({ force_process: true });
  el.on('appear', function() {
    if (!inited) {
        $('#circle1').circleProgress({
     
    fill: {color: '#CCAD67'},
    value: 0.9,
    startAngle: -Math.PI / 6 * 3,
    lineCap: 'round',
    thickness: '5',
    size: '160.0'
  }).on('circle-animation-progress', function(event, progress) {
    $(this).find('strong').html(Math.round(92 * progress) + '<i>%</i>');
  });
  
   $('#circle2').circleProgress({
     
    fill: {color: '#CCAD67'},
    value: 0.75,
    startAngle: -Math.PI / 6 * 3,
    lineCap: 'round',
    thickness: '5',
    size: '160.0'
  }).on('circle-animation-progress', function(event, progress) {
    $(this).find('strong').html(Math.round(75 * progress) + '<i>%</i>');
  });
  
   $('#circle3').circleProgress({
     
    fill: {color: '#CCAD67'},
    value: 0.58,
    startAngle: -Math.PI / 6 * 3,
    lineCap: 'round',
    thickness: '5',
    size: '160.0'
  }).on('circle-animation-progress', function(event, progress) {
    $(this).find('strong').html(Math.round(58 * progress) + '<i>%</i>');
  });
  
   $('#circle6').circleProgress({
     
    fill: {color: '#CCAD67'},
    value: 0.58,
    startAngle: -Math.PI / 6 * 3,
    lineCap: 'round',
    thickness: '5',
    size: '160.0'
  }).on('circle-animation-progress', function(event, progress) {
    $(this).find('strong').html(Math.round(58 * progress) + '<i>%</i>');
  });
  
   $('#circle7').circleProgress({
     
    fill: {color: '#CCAD67'},
    value: 0.82,
    startAngle: -Math.PI / 6 * 3,
    lineCap: 'round',
    thickness: '5',
    size: '160.0'
  }).on('circle-animation-progress', function(event, progress) {
    $(this).find('strong').html(Math.round(82 * progress) + '<i>%</i>');
  });
  
   $('#circle4').circleProgress({
     
    fill: {color: '#CCAD67'},
    value: 0.48,
    startAngle: -Math.PI / 6 * 3,
    lineCap: 'round',
    thickness: '5',
    size: '160.0'
  }).on('circle-animation-progress', function(event, progress) {
    $(this).find('strong').html(Math.round(48 * progress) + '<i>%</i>');
  });
  
   $('#circle5').circleProgress({
     
    fill: {color: '#CCAD67'},
    value: 1,
    startAngle: -Math.PI / 6 * 3,
    lineCap: 'round',
    thickness: '5',
    size: '160.0'
  }).on('circle-animation-progress', function(event, progress) {
    $(this).find('strong').html(Math.round(250 * progress) + '<i>%</i>');
  });
    inited = true;
  }
    });


  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

    for (i = 0; i < sURLVariables.length; i++) {
      sParameterName = sURLVariables[i].split('=');

      if (sParameterName[0] === sParam) {
        return sParameterName[1] === undefined ? true : sParameterName[1];
      }
    }
  };


  function showPopup(popupId) {
    hidePopup();
    $(popupId).fadeIn(400);
  }
  function hidePopup() {
    $('.popup-layout, .popup-layout-payment, .modal').fadeOut(400);
  }

  $(function(){
    // smooth scroll on anchors
    $(document).on('click', '.link-smooth', function (event) {
      event.preventDefault();
      $('html, body').animate({
        scrollTop: $($(this).attr('href')).offset().top
      }, 2000);
    });

    //popup link
    $('.popup-layout').click(function () {
      $('.popup-layout').fadeOut(200);
    });
    $(".popup, .popup-link").click(function (e) {
      e.stopPropagation();
    });

    // popup close
    $('.popup__close').click(function () {
      hidePopup();
    });
  });
  