.subm {
	cursor: pointer;
	border: none;
	display: block;
	margin: 0 auto;
	transition: all 0.3s linear;
	margin-top: 15px;
	&:hover,
	&:focus {
		transform: scale(1.02);
	}
}

.btn {
	width: 164px;
	@include flex-center;
	font-family: Helvetica Neue;
	line-height: normal;
	font-size: 14px;
	text-align: center;
	background: #CCAD67;
	color: #FFFFFF;
	height: 34px;
	cursor: pointer;
	
	text-decoration: none;
	@include ease(.6s);
	
	
}

header {
	.btn {
		&:hover {
		border: 2px solid #CCAD67;
		box-sizing: border-box;
		background: transparent;
	}
	}
}

.btn_transparent {
	border: 2px solid #CCAD67;
	box-sizing: border-box;
	background: transparent;
	
	&:hover {
		border: 2px solid transparent !important;
		background: #CCAD67 !important;
	}
}

.btn_transparent-2 {
	@extend .btn_transparent;
	color: #CCAD67;
	&:hover {
		color: #fff;
	}
}

.btn_no-hover {
	&:hover {
		border: 2px solid transparent !important;
		background: #CCAD67 !important;
	}
}

.btn_grey {
	color: rgba(17, 34, 45, 0.2);
	background: rgba(17, 34, 45, 0.1);
	
	&:hover {
		background: #CCAD67;
		color: #FFFFFF;
	}
}

.btn_next, .btn_prev {
	@include flex-center;
	
}

.btn_next {
	span {
		width: 6.23px;
		height: 10px;
		background-image: url(../img/svg/arrr.svg);
		margin-left: 10px;
	}
}

.btn_prev{
	span {
		width: 6.23px;
		height: 10px;
		background-image: url(../img/svg/arrl.svg);
		margin-right: 10px;
	}
	
	
}