.footer {
	height: 133px;
	background: #ECECEC;
	padding: 22px 0;
	
	.container {
		display: flex;
		align-items: center;
	}
}

.footer__links {
	height: 84px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	a {
		font-family: Helvetica Neue;
		line-height: 15px;
		font-size: 14px;
		color: rgba(17, 34, 45, 0.6);
		margin-bottom: 8px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	&:nth-child(1) {
		margin-right: 24px;
		margin-left: 190px;
		width: 164px;
	}
	
	&:nth-child(2) {
		width: 352px;
		margin-right: 88px;
	}
}

.socials {
	width: 45px;
	display: flex;
	justify-content: space-between;
	
	a {
		width: 16px;
		height: 16px;
		
		&.fb {
			background-image: url(../img/svg/fb.svg)
		}
		
		&.inst {
			background-image: url(../img/svg/inst.svg)
		}
		
		&.linked {
			background-image: url(../img/svg/li.svg)
		}
		
		&.google {
			background-image: url(../img/svg/gp.svg)
		}
	}
}