.hh1 {
 @include bg-defaults(cover);
 background-image: url(../img/headerbg.jpg);
 padding: 1vh 0px 1.6vh;
 height: 100vh;

 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
 }

 .mid-block__txt1 {
  font-family: Helvetica Neue;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1em;
  margin-bottom: 12px;
  color: #FFFFFF;

  opacity: 0.6;
 }

 h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 44px;
  text-align: center;
  margin-bottom: 22px;
  color: #FFFFFF;
 }

 .mid-block__txt2 {
  font-family: Helvetica Neue;
  line-height: 20px;
  font-size: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  width: 312px;
  margin: 0 auto 44px;
 }

 .mid-block__buttons {
  width: 352px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
 }

 .bottom__icon-wrap {
  width: 100%;
  @include flex-center;
  height: 23px;
  padding-bottom: 32px;
  position: absolute;
  left: 0;
  bottom: 0;

  .icon {
   background-image: url(../img/svg/headericon.svg);
   width: 16px;
   height: 22.72px;
  }
 }
}

.hh2 {
 @include bg-defaults(cover);
 background-image: url(../img/headerbg.jpg);
 padding: 1vh 0px 1.6vh;
 height: 100vh;

 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
 }

 .mid-block__txt1 {
  font-family: Helvetica Neue;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1em;
  margin-bottom: 12px;
  color: #FFFFFF;

  opacity: 0.6;
 }

 h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 44px;
  text-align: center;
  margin-bottom: 22px;
  color: #FFFFFF;
 }

 .mid-block__txt2 {
  font-family: Helvetica Neue;
  line-height: 20px;
  font-size: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  width: 312px;
  margin: 0 auto 44px;
 }

 .mid-block__buttons {
  width: 352px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
 }

 .bottom__icon-wrap {
  width: 100%;
  @include flex-center;
  height: 23px;
  padding-bottom: 32px;
  position: absolute;
  left: 0;
  bottom: 0;

  .icon {
   background-image: url(../img/svg/headericon.svg);
   width: 16px;
   height: 22.72px;
  }
 }
}

.hh3 {
 @include bg-defaults(cover);
 background-image: url(../img/headerbg.jpg);
 padding: 1vh 0px 1.6vh;
 height: 100vh;

 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
 }

 .mid-block__txt1 {
  font-family: Helvetica Neue;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1em;
  margin-bottom: 12px;
  color: #FFFFFF;

  opacity: 0.6;
 }

 h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 44px;
  text-align: center;
  margin-bottom: 22px;
  color: #FFFFFF;
 }

 .mid-block__txt2 {
  font-family: Helvetica Neue;
  line-height: 20px;
  font-size: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  width: 312px;
  margin: 0 auto 44px;
 }

 .mid-block__buttons {
  width: 352px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
 }

 .bottom__icon-wrap {
  width: 100%;
  @include flex-center;
  height: 23px;
  padding-bottom: 32px;
  position: absolute;
  left: 0;
  bottom: 0;

  .icon {
   background-image: url(../img/svg/headericon.svg);
   width: 16px;
   height: 22.72px;
  }
 }
}

.hh4 {
 @include bg-defaults(cover);
 background-image: url(../img/headerbg.jpg);
 padding: 11px 0px 29px;
 height: 265px;

 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
 }

 .mid-block__txt1 {
  font-family: Helvetica Neue;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1em;
  margin-bottom: 12px;
  color: #FFFFFF;

  opacity: 0.6;
 }

 h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 44px;
  text-align: left;
  padding-top: 61px;
  width: 100%;
  color: #FFFFFF;
  margin-bottom: 13px;
 }

 .mid-block__txt2 {
  font-family: Helvetica Neue;
  line-height: 20px;
  font-size: 15px;
  width: 362px;
  color: rgba(255, 255, 255, 0.6);
 }

 .mid-block__buttons {
  width: 352px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
 }

 .bottom__icon-wrap {
  width: 100%;
  @include flex-center;
  height: 23px;
  padding-bottom: 32px;
  position: absolute;
  left: 0;
  bottom: 0;

  .icon {
   background-image: url(../img/svg/headericon.svg);
   width: 16px;
   height: 22.72px;
  }
 }
}

.hh5 {
 h1 {
  display: flex;
  align-items: center;
  .gold-txt {
   font-family: Playfair Display;
   font-style: normal;
   font-weight: 900;
   line-height: normal;
   font-size: 24px;
   color: #CCAD67;
  }

  .arrow {
   width: 8.73px;
   height: 14px;
   background-image: url(../img/svg/arrrr.svg);
   margin: 0 12px;
   position: relative;
   //bottom: 8px;
  }

  .blue-txt {
   color: #4F6471;
   font-family: Helvetica Neue;
   font-size: 14px;
   position: relative;
   //bottom: 4px;
   margin-left: 5px;
  }

  a {
   font-family: Playfair Display;
   color: #fff;
   text-decoration: none;
  }
 }
}

.hh6 {
 @include bg-defaults(cover);
 background-image: url(../img/headerbg.jpg);
 padding: 1vh 0px 1.6vh;
 height: 100vh;

 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
 }

 .mid-block__txt1 {
  font-family: Helvetica Neue;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1em;
  margin-bottom: 12px;
  color: #FFFFFF;

  opacity: 0.6;
 }

 h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 44px;
  text-align: center;
  margin-bottom: 22px;
  color: #FFFFFF;
 }

 .mid-block__txt2 {
  font-family: Helvetica Neue;
  line-height: 20px;
  font-size: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  width: 352px;
  margin: 0 auto 44px;
 }

 .mid-block__buttons {
  width: 352px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
 }

 .bottom__icon-wrap {
  width: 100%;
  @include flex-center;
  height: 23px;
  padding-bottom: 32px;
  position: absolute;
  left: 0;
  bottom: 0;

  .icon {
   background-image: url(../img/svg/headericon.svg);
   width: 16px;
   height: 22.72px;
  }
 }
}

.dropdown__hover {
 display: none;
 position: absolute;
 width: 107px;
 height: 100px;
 padding-top: 40px;
 left: 0;

 a {
  width: 100% !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  margin-left: 0 !important;
 }

 .line {
  width: 42px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 8px 0 8px auto;
 }

 .dd {
  width: 11.67px;
  height: 7.08px;
  background-image: url(../img/svg/headerarrow.svg);
  position: absolute;
  top: 20px;
  right: 0;
  content: '';
  display: block;
 }
}

.service {
 margin-right: 2px;
 //width: 190px;
 font-family: Helvetica Neue;
 line-height: normal;
 font-size: 16px;
 font-weight: 700;
 text-align: right;
 color: rgba(255, 255, 255, 0.8);
 display: flex;
 align-items: center;
 justify-content: flex-end;
 margin-left: 50px;
 @include ease(0.4s);
 cursor: pointer;

 span {
  height: 21px;
  width: 1px;
  background-color: #FFF;
  margin-left: 12px;
  position: relative;
  top: 1px;
  @include ease(0.4s);
 }

 &:hover {
  color: #CCAD67;

  span {
   background-color: #CCAD67;
  }
 }
}

.menu_responsive {
 display: none;
 position: relative;
 @include ease(.5s);

 a {
  font-family: Helvetica Neue;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  margin-bottom: 20px;

  &:last-child {
   margin-bottom: 0;
  }

  @include mobile {
   font-size: 16px;
  }
 }

 @include tablet {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  left: -100%;
  top: 0;
  z-index: 5;
  @include flex-center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.94);

  &.active {
   left: 0;
  }
 }

 .close-btn {
  @include circle(30px);
  background-image: url(../img/close.png);
  background-size: 100%;
  right: 50px;
  top: 50px;
  position: absolute;

  @include mobile {
   @include circle(20px)
  }
 }
}

.responsive__header {
 display: block;
 height: 48px;
 z-index: 3;
 @include tablet {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
 }
 @include mobile {
  height: 37px;
 }
}


.header__top-block {
 display: flex;
 margin-bottom: 16vh;
 position: absolute;
 //left: calc(50vw - 585px);
 top: 0;
 //width: 100%;
 width: 1170px;
 @include tablet {
  margin: 0 auto;
  width: 690px;
  position: relative !important;
  left: 0;
 }

 @include mobile {
  width: 290px;
 }

 .header__logo {
  width: 120px;
  height: 48px;
  background: url(../img/Logo.png) no-repeat center / contain;
  margin-right: 67px;
 }
}

.header__links {
 flex: 1;
 @include flex-center;
 justify-content: flex-end;

 a {
  margin-right: 2px;
  //width: 190px;
  font-family: Helvetica Neue;
  line-height: normal;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include ease(0.4s);
  text-decoration: none !important;
  margin-left: 50px;

  &.dd {
   position: relative;

  }

  span {
   height: 21px;
   width: 1px;
   background-color: #FFF;
   margin-left: 12px;
   position: relative;
   top: 1px;
   @include ease(0.4s);
  }

  &:hover {
   color: #CCAD67;

   span {
    background-color: #CCAD67;
   }
  }
 }
}

.header__mid-block {

 &.header__mid-block--single {

  h1 {

   a {
    font-size: 24px;
   }
  }
 }
}

.dd_menu {
 position: relative;
}