.popup-layout {
 display: none;
 width: 100vw;
 height: 100vh;
 background: rgba(0,0,0,0.4);
 position: fixed;
 top: 0;
 left: 0;
 overflow: hidden;
 z-index: 999;
}


.popup-scrollarea {
 height: 100%;
 width: 100%;
 overflow: auto;
}

.popup {
 width: 890px;
 background: #fff;
 margin: 8% auto 1%;
 padding: 70px 45px;
 position: relative;
 @include tablet {
  width: 710px;
  padding: 70px 45px;
 }
 @include mobile {
  width: 310px;
  padding: 60px 25px;
 }

 p {
  color: #000;
 }

 &.popup--min {
  width: 500px;
  padding: 72px 50px;
  @include mobile {
   width: 310px;
   padding: 56px 0 48px;
  }

  .popup__close {
   top: 26px;
   right: 26px;
  }
 }

 .popup__title {
  margin: 0 0 40px;
 }

 h2 {
  font-size: 32px;
  line-height: 1.4em;
  font-weight: 900;
  text-align: center;
 }

 h3 {
  color: rgba(0,0,0,0.6);
  font-size: 24px;
  line-height: 1.4em;
  font-weight: 500;
  text-align: center;
 }
}

.close-icon {
 width: 15px;
 height: 15px;
 position: absolute;
 @include mobile {
  width: 12px;
  height: 12px;
 }

 .popup__close-line {
  width: 3px;
  height: 18px;
  background-color: #D8D8D8;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  @include mobile {
   width: 2px;
   height: 14px;
   left: 4px;
  }
  &:nth-child(2) {
   transform: rotate(-45deg);
  }
 }
}

.popup__close {
 @extend .close-icon;
 top: 40px;
 right: 40px;
 cursor: pointer;
 @include mobile {
  top: 30px;
  right: 30px;
 }
 &:hover {

  .popup__close-line {
   background-color: #171717;
  }
 }
}

.popup.popup--min.popup-success {
 padding-top: 90px;
 position: relative;
 opacity: 0;
 transform: scale(0.8);
 transition: 0.5s;

 * {
  font-family: Roboto, sans-serif;
 }

 .popup-success__icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: url(../../img/common/check-icon.svg) no-repeat center / 50%, forestgreen;
  position: absolute;
  top: -60px;
  left: calc(50% - 60px);
  opacity: 0;
  transform: scale(1.4);
  transition: 1s;
 }
}

.popup-icp {

 .upsail_form {
  width: 100%;
 }

 .form__input-wrap {
  width: 48%;
  @include mobile {
   width: 100%;
  }
 }
}